<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<!-- Approval -->
	<resultMap id="approvalResultSet" type="Approval">
		<id property="apNo" column="APPROVAL_NO"/>
		<result property="rownum" column="ROWNUM"/>
		<result property="apClass" column="APPROVAL_CLASS"/>
		<result property="detailClass" column="DETAIL_CLASS"/>
		<result property="title" column="TITLE"/>
		<result property="writer" column="WRITER"/>
		<result property="writerJob" column="WRITER_JOB"/>
		<result property="writerName" column="EMP_NAME"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="deptName" column="DEPT_DNAME"/>
		<result property="content" column="AP_CONTENT"/>
		<result property="cooper" column="COOPERATION"/>
		<result property="cooName" column="COO_NAME"/>		
		<result property="cooJob" column="COO_JOB"/>
		<result property="deptShare" column="DEPT_SHARE"/>
		<result property="progress" column="PROGRESS"/>		
	</resultMap>
	
	<!-- Approval Attachment-->
	<resultMap id="approvalAtResultSet" type="Approval">
		<id property="atNo" column="AT_NO"/>
		<result property="newName" column="NEW_NAME"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="apNo" column="APPROVAL_NO"/>	
	</resultMap>
	
	<!-- Approval Line -->
	<resultMap id="approvalLineResultSet" type="ApprovalLine">
		<id property="apNo" column="APPROVAL_NO"/>
		<id property="lineNo" column="LINE_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="confirmStatus" column="CONFIRM_STATUS"/>
		<result property="progressDate" column="PROGRESS_DATE"/>
	</resultMap>
	
	<!-- Approval CC -->
	<resultMap id="approvalCCResultSet" type="ApprovalCC">
		<id property="apNo" column="APPROVAL_NO"/>
		<result property="ccName" column = "CC_NAME"/>
		<result property="ccDept" column="CC_DEPT"/>
		<result property="ccMember" column="CC_MEMBER"/>
		<result property="ckCount" column="CHECK_COUNT"/>
		<result property="ccCount" column="CC_COUNT"/>
	</resultMap>
	
	<!-- Approval Diploma -->
	<resultMap id="approvalDiplomaResultSet" type="ApprovalDiploma">
		<id property="apNo" column="APPROVAL_NO"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="officeAddress" column="ADDRESS"/>
	</resultMap>

	<!-- Approval Minutes -->
	<resultMap id="approvalMinutesResultSet" type="ApprovalMinutes">
		<id property="apNo" column="APPROVAL_NO"/>
		<result property="title" column="MEETING_TITLE"/>
		<result property="attendees" column="ATTENDEES"/>
	</resultMap>

	<!-- Approval Hr -->
	<resultMap id="approvalHrResultSet" type="ApprovalHr">
		<id property="apNo" column="APPROVAL_NO"/>
		<result property="hrClass" column="HR_CLASS"/>
		<result property="dueDate" column="DUE_DATE"/>
	</resultMap>

	<!-- Approval Expenditure -->
	<resultMap id="expenditureResultSet" type="ApprovalExpenditure">
		<id property="apNo"	column="APPROVAL_NO"/>
		<result property="exForm" column="EX_FORM"/>
		<result property="exCommon" column="EX_COMMON"/>
	</resultMap>
	
	<!-- Approval Expenditure Details -->
	<resultMap id="exDetailResultSet" type="ApprovalExDetails">
		<id property="exNo"	column="EXPENDITURE_NO"/>
		<id property="apNo"	column="APPROVAL_NO"/>
		<result property="exTitle" column="EX_TITLE"/>
		<result property="exDate" column="EX_DATE"/>
		<result property="exType" column="EX_TYPE"/>
		<result property="exNum" column="EX_NUM"/>
		<result property="exContent" column="EX_CONTENT"/>
		<result property="price" column="EX_PRICE"/>
		<result property="accName" column="EX_ACCOUNT"/>
		<result property="bankName" column="EX_BANK"/>
		<result property="accNum" column="EX_ACCOUNT_NUM"/>
		<result property="accHolder" column="EX_HOLDER"/>
		<result property="exDept" column="EX_DEPT"/>
		<result property="note" column="EX_NOTE"/>
		<result property="exDate2" column="EX_DATE2"/>
	</resultMap>
	
	<!-- Approval Ex_Num -->
	<resultMap id="exNumResultSet" type="ApprovalExDetails">
		<id property="exNum" column="EX_NUM"/>
		<result property="exType" column="EX_TYPE"/>
	</resultMap>
	
	<!-- Approval Comment -->
	<resultMap id ="commentResultSet" type="ApprovalComment">
		<id property="apNo" column="COMMENT_NO"/>
		<id property="coNo" column="APPROVAL_NO"/>
		<result property="cmWriter" column="WRITER"/>
		<result property="cmName" column="EMP_NAME"/>
		<result property="cmDept" column="DEPT_DNAME"/>
		<result property="cmJob" column="JOB_NAME"/>
		<result property="commentDate" column="CREATE_DATE"/>
		<result property="comment" column="AC_CONTENT"/>
	</resultMap>
	
	
	<!-- ex_num select -->
	<select id="selectExNumch" resultMap="exNumResultSet">
		SELECT *
		FROM APPROVAL_EX_NUM 
		WHERE EX_TYPE LIKE '체크%' 
	</select>
	<select id="selectExNumco" resultMap="exNumResultSet">
		SELECT *
		FROM APPROVAL_EX_NUM 
		WHERE EX_TYPE LIKE '법인%' 
	</select>
	
	<!-- 기안 insert -->
	<insert id="insertApproval" parameterType="Approval">
		INSERT INTO APPROVAL
		VALUES
		(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.NEXTVAL, 5, '0'), #{apClass}, #{detailClass}, #{title}, #{writer}, #{writerJob}, SYSDATE, #{deptName}, #{content}, 
		#{cooper},#{cooName}, #{cooJob}, #{deptShare}, #{progress}, #{status})
	</insert>
	
	<!-- 공문서 insert -->
	<insert id="insertDiploma" parameterType="ApprovalDiploma">
		INSERT INTO APPROVAL_DIPLOMA
		VALUES
		(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.CURRVAL, 5, '0'), #{email}, #{phone}, #{officeAddress})
	</insert>
	
	<!-- 회의록 insert -->
	<insert id="insertMinutes" parameterType="ApprovalMinutes">
		INSERT INTO APPROVAL_M_MINUTES
		VALUES
		(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.CURRVAL, 5, '0'), #{title}, #{attendees})
	</insert>
	
	<!-- 인사문서 insert -->
	<insert id="insertHr" parameterType="ApprovalHr">
		INSERT INTO APPROVAL_HR
		VALUES
		(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.CURRVAL, 5, '0'), #{hrClass}, #{dueDate})
	</insert>
	
	<!-- 결재라인 insert -->
	<insert id="insertLine" parameterType="ApprovalLine">
		INSERT INTO APPROVAL_LINE
		VALUES
		(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.CURRVAL, 5, '0'), #{lineNo}, #{empNo}, #{empName}, #{jobName}, DEFAULT, NULL)
	</insert>
	
	<!-- 지출 insert -->
	<insert id="insertExpenditure" parameterType="ApprovalExpenditure">
		INSERT INTO APPROVAL_EXPENDITURE
		VALUES
		(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.CURRVAL, 5, '0'), #{exForm}, #{exCommon})
	</insert>
	<insert id="insertExpenditureDetail" parameterType="ApprovalExDetails">
		INSERT INTO APPROVAL_EX_DETAILS
		VALUES
		(#{exNo},TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.CURRVAL, 5, '0'), #{exTitle}, #{exDate}, #{exType}, #{exNum}, #{exContent}, #{price}, #{accName},
		#{bankName}, #{accNum}, #{accHolder}, #{exDept}, #{note})
	</insert>
	
	<!-- 첨부파일 insert -->
	<insert id="insertAttachment" parameterType="Approval">
		INSERT INTO APPROVAL_ATTACHMENTS
		VALUES
		(SEQ_EA_AT_NO.NEXTVAL, #{newName}, #{originName}, TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.CURRVAL, 5, '0'))
	</insert>
	
	<!-- CC insert -->
	<insert id="insertCcEmpl" parameterType="ApprovalCC">
	<![CDATA[
		INSERT INTO APPROVAL_CC
		VALUES
		(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.CURRVAL, 5, '0'),#{ccName} ,NULL, #{ccMember}, DEFAULT, (SELECT COUNT(*) FROM EMPLOYEE WHERE EMP_NO = #{ccMember}))
	]]>
	</insert>
	<insert id="insertCcDept" parameterType="ApprovalCC">
	<![CDATA[
		INSERT INTO APPROVAL_CC
		VALUES
		(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.CURRVAL, 5, '0'),#{ccName}, #{ccDept} ,NULL, DEFAULT, (SELECT COUNT(*) FROM EMPLOYEE WHERE DEPT_CODE = #{ccDept}))
	]]>
	</insert>
	
	<!-- listCount -->
	<select id="selectListCount" parameterType="HashMap" resultType="_int">
 		SELECT COUNT(*)
 		FROM APPROVAL
 		WHERE WRITER = #{ loginEmpNo }
 		AND APPROVAL_CLASS = #{ apClass }
 		AND STATUS = #{ status }
 	</select>
 	
 	<!-- 전자결재 리스트 -->
 	<select id="selectApproval" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		WHERE WRITER = #{ loginEmpNo }
 		AND STATUS = #{ status }
 		AND APPROVAL_CLASS = #{ apClass }
 		ORDER BY CREATE_DATE DESC
 	</select>
 		
 	<!-- 미결재  -->
 	<select id="selectpendingList" parameterType="HashMap" resultMap="approvalResultSet">
 	<![CDATA[	
 		SELECT  ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME
		FROM APPROVAL A
		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
		WHERE A.PROGRESS = '진행중'
		AND A.APPROVAL_CLASS = #{ apClass }
		AND C.CONFIRM_STATUS +1 = C.LINE_NO
		AND C.EMP_NO = #{ loginEmpNo }
		ORDER BY CREATE_DATE DESC
	]]>
 	</select>
 	
 	<!-- 결재완료  -->
 	<select id="selectSignedList" parameterType="HashMap" resultMap="approvalResultSet">
 	<![CDATA[	
 		SELECT  ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME
		FROM APPROVAL A
		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
		WHERE A.PROGRESS = '결재완료'
		AND A.APPROVAL_CLASS = #{ apClass }
		AND C.EMP_NO = #{ loginEmpNo }
		ORDER BY CREATE_DATE DESC
	]]>
 	</select>
 	
 	<!-- 전자결재 전체선택 -->
 	<select id="selectAllApproval" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		WHERE WRITER = #{ loginEmpNo }
 		AND STATUS = #{ status }
 		AND APPROVAL_CLASS = #{option}
 		ORDER BY CREATE_DATE DESC
 	</select>
 	
 	<!-- 미결재함 전체선택 -->
 	<select id="selectAllPending" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT  ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME
		FROM APPROVAL A
		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
		WHERE A.PROGRESS = '진행중'
		AND A.APPROVAL_CLASS = #{ option }
		AND C.CONFIRM_STATUS +1 = C.LINE_NO
		AND C.EMP_NO = #{ loginEmpNo }
		ORDER BY CREATE_DATE DESC
 	</select>
 	
 	<!-- 결재완료 전체선택 -->
 	<select id="selectAllSigned" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT  ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME
		FROM APPROVAL A
		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
		WHERE A.PROGRESS = '결재완료'
		AND A.APPROVAL_CLASS = #{ apClass }
		AND C.EMP_NO = #{ loginEmpNo }
		ORDER BY CREATE_DATE DESC
 	</select>
 	
 	<!-- 전자결재 날짜 sort -->
 	<select id="selectDate" parameterType="HashMap" resultMap="approvalResultSet">
 	<![CDATA[
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		WHERE WRITER = #{ loginEmpNo }
 		AND STATUS = #{ status }
 		AND APPROVAL_CLASS = #{ apClass }
 		AND CREATE_DATE >= TO_CHAR(SYSDATE - #{sDate},'YYYYMMDD') 
 		ORDER BY CREATE_DATE DESC
 	]]>
 	</select>
 	
 	<!-- 미결재함 날짜 sort -->
 	<select id="selectDatePending" parameterType="HashMap" resultMap="approvalResultSet">
 	<![CDATA[
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '진행중'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND CREATE_DATE >= TO_CHAR(SYSDATE - #{sDate},'YYYYMMDD')
 		AND C.CONFIRM_STATUS +1 = C.LINE_NO
		AND C.EMP_NO = #{ loginEmpNo } 
 		ORDER BY CREATE_DATE DESC
 	]]>
 	</select>
 	
 	<!-- 결재완료 날짜 sort -->
 	<select id="selectDateSigned" parameterType="HashMap" resultMap="approvalResultSet">
 	<![CDATA[
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '결재완료'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND CREATE_DATE >= TO_CHAR(SYSDATE - #{sDate},'YYYYMMDD')
		AND C.EMP_NO = #{ loginEmpNo }
 		ORDER BY CREATE_DATE DESC
 	]]>
 	</select>
 	
 	<!-- 전자결재 문서번호 sort -->
 	<select id="selectSearchApNo" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME,B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		WHERE WRITER = #{ loginEmpNo }
 		AND STATUS = #{ status }
 		AND APPROVAL_CLASS = #{ apClass }
 		AND APPROVAL_NO = #{ optionInput }
 		ORDER BY CREATE_DATE DESC
 	</select>
 	
 	<!-- 미결재함 문서번호 sort -->
 	<select id="selectSearchApNoPending" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME,B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '진행중'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND APPROVAL_NO = #{ optionInput }
 		AND C.CONFIRM_STATUS +1 = C.LINE_NO
		AND C.EMP_NO = #{ loginEmpNo } 
 		ORDER BY CREATE_DATE DESC
 	</select>
 	
 	<!-- 결재완료 문서번호 sort -->
 	<select id="selectSearchApNoSigned" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME,B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '결재완료'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND APPROVAL_NO = #{ optionInput }
		AND C.EMP_NO = #{ loginEmpNo } 
 		ORDER BY CREATE_DATE DESC
 	</select>
 	
 	<!-- 전자결재 제목 sort -->
 	<select id="selectSearchTitle" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		WHERE WRITER = #{ loginEmpNo }
 		AND STATUS = #{ status }
 		AND APPROVAL_CLASS = #{ apClass }
 		AND TITLE LIKE '%'||#{ optionInput }||'%'
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!-- 미결재함 제목 sort -->
 	<select id="selectSearchTitlePending" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '진행중'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND TITLE LIKE '%'||#{ optionInput }||'%'
 		AND C.CONFIRM_STATUS +1 = C.LINE_NO
		AND C.EMP_NO = #{ loginEmpNo } 
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!-- 결재완료 제목 sort -->
 	<select id="selectSearchTitleSigned" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '결재완료'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND TITLE LIKE '%'||#{ optionInput }||'%'
 		AND C.EMP_NO = #{ loginEmpNo }
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!-- 전자결재 세부분류 + 문서번호 -->
 	<select id="selectDetailApNo" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		WHERE WRITER = #{ loginEmpNo }
 		AND STATUS = #{ status }
 		AND APPROVAL_CLASS = #{ apClass }
 		AND APPROVAL_NO = #{ optionInput }
 		AND DETAIL_CLASS = #{ detailOption }
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!-- 미결재함 세부분류 + 문서번호 -->
 	<select id="selectDetailApNoPending" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '진행중'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND APPROVAL_NO = #{ optionInput }		
 		AND DETAIL_CLASS = #{ detailOption }
 		AND C.CONFIRM_STATUS +1 = C.LINE_NO
		AND C.EMP_NO = #{ loginEmpNo } 
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!--결재완료 세부분류 + 문서번호 -->
 	<select id="selectDetailApNoSigned" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '결재완료'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND APPROVAL_NO = #{ optionInput }		 		
 		AND DETAIL_CLASS = #{ detailOption }
 		AND C.EMP_NO = #{ loginEmpNo }
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!-- 전자결재 세부분류 + 제목 -->
 	<select id="selectDetailTitle" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		WHERE WRITER = #{ loginEmpNo }
 		AND STATUS = #{ status }
 		AND APPROVAL_CLASS = #{ apClass }
 		AND TITLE LIKE '%'||#{ optionInput }||'%'
 		AND DETAIL_CLASS = #{ detailOption }
 		ORDER BY CREATE_DATE DESC .
 	</select>
 	
 	<!-- 미결재함 세부분류 + 제목 -->
 	<select id="selectDetailTitlePending" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '진행중'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND TITLE LIKE '%'||#{ optionInput }||'%'
 		AND DETAIL_CLASS = #{ detailOption }
 		AND C.CONFIRM_STATUS +1 = C.LINE_NO
		AND C.EMP_NO = #{ loginEmpNo } 
 		ORDER BY CREATE_DATE DESC .
 	</select>
 	
 	<!-- 결재완료 세부분류 + 제목 -->
 	<select id="selectDetailTitleSigned" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '결재완료'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND TITLE LIKE '%'||#{ optionInput }||'%'
 		AND DETAIL_CLASS = #{ detailOption }
 		AND C.EMP_NO = #{ loginEmpNo }
 		ORDER BY CREATE_DATE DESC .
 	</select>
 	
 	<!-- 날짜 + 문서번호 -->
 	<select id="selectDateApNo" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		WHERE WRITER = #{ loginEmpNo }
 		AND STATUS = #{ status }
 		AND APPROVAL_CLASS = #{ apClass }
 		AND APPROVAL_NO = #{ optionInput }
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!-- 미결재함 날짜 + 문서번호 -->
 	<select id="selectDateApNoPending" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '진행중'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND APPROVAL_NO = #{ optionInput }
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		AND C.CONFIRM_STATUS +1 = C.LINE_NO
		AND C.EMP_NO = #{ loginEmpNo } 
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!-- 결재완료 날짜 + 문서번호 -->
 	<select id="selectDateApNoSigned" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '결재완료'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND APPROVAL_NO = #{ optionInput }
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		AND C.EMP_NO = #{ loginEmpNo }
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!-- 날짜 + 제목 -->
 	<select id="selectDateTitle" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		WHERE WRITER = #{ loginEmpNo }
 		AND STATUS = #{ status }'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND TITLE LIKE '%'||#{ optionInput }||'%'
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		ORDER BY CREATE_DATE DESC
 	</select>
 	
 	<!-- 미결재함 날짜 + 제목 -->
 	<select id="selectDateTitlePending" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '진행중'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND TITLE LIKE '%'||#{ optionInput }||'%'
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		AND C.CONFIRM_STATUS +1 = C.LINE_NO
		AND C.EMP_NO = #{ loginEmpNo } 
 		ORDER BY CREATE_DATE DESC
 	</select>
 	
 	<!-- 결재완료 날짜 + 제목 -->
 	<select id="selectDateTitleSigned" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '진행중'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND TITLE LIKE '%'||#{ optionInput }||'%'
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		AND C.EMP_NO = #{ loginEmpNo }
 		ORDER BY CREATE_DATE DESC
 	</select>
 	
 	<!-- 날짜 + 문서번호 + 세부분류 -->
 	<select id="selectDeteDetailApNo" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		WHERE WRITER = #{ loginEmpNo }
 		AND STATUS = #{ status }
 		AND APPROVAL_CLASS = #{ apClass }
 		AND APPROVAL_NO = #{ optionInput }
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		AND DETAIL_CLASS = #{ detailOption }
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!-- 미결재함 날짜 + 문서번호 + 세부분류 -->
 	<select id="selectDeteDetailApNoPending" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '진행중'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND APPROVAL_NO = #{ optionInput }
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		AND DETAIL_CLASS = #{ detailOption }
 		AND C.CONFIRM_STATUS +1 = C.LINE_NO
		AND C.EMP_NO = #{ loginEmpNo } 
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!-- 결재완료 날짜 + 문서번호 + 세부분류 -->
 	<select id="selectDeteDetailApNoSigned" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '결재완료'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND APPROVAL_NO = #{ optionInput }
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		AND DETAIL_CLASS = #{ detailOption }
 		AND C.EMP_NO = #{ loginEmpNo }
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!-- 날짜 + 제목 + 세부분류  -->
 	<select id="selectDateDetailTitle" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		WHERE WRITER = #{ loginEmpNo }
 		AND STATUS = #{ status }
 		AND APPROVAL_CLASS = #{ apClass }
 		AND TITLE LIKE '%'||#{ optionInput }||'%'
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		AND DETAIL_CLASS = #{ detailOption }
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!-- 미결재함 날짜 + 제목 + 세부분류  -->
 	<select id="selectDateDetailTitlePending" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '진행중'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND TITLE LIKE '%'||#{ optionInput }||'%'
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		AND DETAIL_CLASS = #{ detailOption }
 		AND C.CONFIRM_STATUS +1 = C.LINE_NO
		AND C.EMP_NO = #{ loginEmpNo } 
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!-- 결재완료 날짜 + 제목 + 세부분류  -->
 	<select id="selectDateDetailTitleSigned" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '결재완료'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND TITLE LIKE '%'||#{ optionInput }||'%'
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		AND DETAIL_CLASS = #{ detailOption }
 		AND C.EMP_NO = #{ loginEmpNo }
 		ORDER BY CREATE_DATE DESC 
 	</select>
 	
 	<!-- 날짜Bound -->
 	<select id="selectOnlyDateSort" parameterType="HashMap" resultMap="approvalResultSet">
 	<![CDATA[
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		WHERE WRITER = #{ loginEmpNo }
 		AND STATUS = #{ status }
 		AND APPROVAL_CLASS = #{ apClass }
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		ORDER BY CREATE_DATE DESC
 	]]>
 	</select>
 	
 	<!-- 미결재함 날짜Bound -->
 	<select id="selectOnlyDateSortPending" parameterType="HashMap" resultMap="approvalResultSet">
 	<![CDATA[
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '진행중'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		AND C.CONFIRM_STATUS +1 = C.LINE_NO
		AND C.EMP_NO = #{ loginEmpNo } 
 		ORDER BY CREATE_DATE DESC
 	]]>
 	</select>
 	
 	<!-- 결재완료 날짜Bound -->
 	<select id="selectOnlyDateSortSigned" parameterType="HashMap" resultMap="approvalResultSet">
 	<![CDATA[
 		SELECT ROWNUM, A.APPROVAL_NO, A.TITLE, A.DETAIL_CLASS, A.PROGRESS, A.CREATE_DATE, A.DEPT_DNAME, B.EMP_NAME 
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
 		JOIN APPROVAL_LINE C ON C.APPROVAL_NO = A.APPROVAL_NO
 		WHERE A.PROGRESS = '결재완료'
 		AND APPROVAL_CLASS = #{ apClass }
 		AND CREATE_DATE BETWEEN #{ startDate } AND #{ endDate }
 		AND C.EMP_NO = #{ loginEmpNo }
 		ORDER BY CREATE_DATE DESC
 	]]>
 	</select>
 	
 	<!-- select Approval Detail -->
 	<select id="selectApprovalDetail" parameterType="HashMap" resultMap="approvalResultSet">
 		SELECT A.*, B.EMP_NAME
 		FROM APPROVAL A
 		JOIN EMPLOYEE B ON EMP_NO = WRITER
 		WHERE APPROVAL_NO = #{ apNo }
 		AND DETAIL_CLASS = #{ detailClass }
 	</select>
 	
 	<!-- select ApprovalCC -->
 	<select id="selectApprovalCC" parameterType="HashMap" resultMap="approvalCCResultSet">
 		SELECT *
 		FROM APPROVAL_CC A
 		WHERE APPROVAL_NO = #{ apNo }
 	</select>
 	
 	<!-- select ApprovalLine -->
 	<select id="selectApprovalLine" parameterType="HashMap" resultMap="approvalLineResultSet">
 		SELECT *
 		FROM APPROVAL_LINE
 		WHERE APPROVAL_NO = #{ apNo }
 	</select>
 	
 	<!-- select Attachment -->
 	<select id="selectAttachDetail" parameterType="HashMap" resultMap="approvalAtResultSet">
 		SELECT *
 		FROM APPROVAL_ATTACHMENTS
 		WHERE APPROVAL_NO = #{ apNo }
 	</select>
 	
 	<!-- select diploma -->
 	<select id="selectApprovalDiploma" parameterType="HashMap" resultMap="approvalDiplomaResultSet">
 		SELECT * 
 		FROM APPROVAL_DIPLOMA
 		WHERE APPROVAL_NO = #{ apNo }
 	</select>
 	
 	<!-- select hr -->
 	<select id="selectApprovalHr" parameterType="HashMap" resultMap="approvalHrResultSet">
 		SELECT * 
 		FROM APPROVAL_HR
 		WHERE APPROVAL_NO = #{ apNo }
 	</select>
 	
 	<!-- select minutes -->
 	<select id="selectApprovalMinutes" parameterType="HashMap" resultMap="approvalMinutesResultSet">
 		SELECT * 
 		FROM APPROVAL_M_MINUTES
 		WHERE APPROVAL_NO = #{ apNo }
 	</select>
 	
 	<!-- select expenditure -->
 	<select id="selectApprovalExpenditure" parameterType="HashMap" resultMap="expenditureResultSet">
 		SELECT * 
 		FROM APPROVAL_EXPENDITURE
 		WHERE APPROVAL_NO = #{ apNo }
 	</select>
 	
 	<!-- select exDetail -->
 	<select id="selectApprovalExDetails" parameterType="HashMap" resultMap="exDetailResultSet">
 		SELECT A.*,TO_CHAR(B.EX_DATE,'YYYY-MM-DD') EX_DATE2
 		FROM APPROVAL_EX_DETAILS A,
 		APPROVAL_EX_DETAILS B
 		WHERE A.APPROVAL_NO = #{ apNo }
 		AND A.APPROVAL_NO = B.APPROVAL_NO
 	</select>
 	
 	<!-- update Approval -->
 	<update id="updateApproval" parameterType="Approval">
 		UPDATE APPROVAL
 		SET		
		TITLE = #{title},
		WRITER_JOB = #{writerJob},
		CREATE_DATE = SYSDATE,
		AP_CONTENT = #{content},
		COOPERATION = #{cooper},
		COO_JOB = #{cooJob},
		DEPT_SHARE = #{deptShare},
		PROGRESS = #{progress},
		STATUS = #{status}
		WHERE APPROVAL_NO = #{apNo}
 	</update>
 	
 	<!-- update Attachment -->
 	<update id="updateAttachment" parameterType="Approval">
 		UPDATE APPROVAL_ATTACHMENTS
 		SET
 		NEW_NAME = #{newName},
 		ORIGIN_NAME = #{originName}
 		WHERE APPROVAL_NO = #{apNo}
 	</update>
 	
 	<!-- update ccEmpl -->
 	<update id="updateCcEmpl" parameterType="ApprovalCC">
 		UPDATE APPROVAL_CC
 		SET
 		CC_NAME = #{ccName},
 		CC_DEPT = NULL,
 		CC_MEMBER = #{ccMember},
 		CC_COUNT = (SELECT COUNT(*) FROM EMPLOYEE WHERE EMP_NO = #{ccMember})
 		WHERE APPROVAL_NO = #{apNo}
 	</update>
 	
 	<!-- update ccDept -->
 	<update id="updateCcDept" parameterType="ApprovalCC">
 		UPDATE APPROVAL_CC
 		SET
 		CC_NAME = #{ccName},
 		CC_DEPT = #{ccDept},
 		CC_MEMBER = NULL,
 		CC_COUNT = (SELECT COUNT(*) FROM EMPLOYEE WHERE DEPT_CODE = #{ccDept})
 		WHERE APPROVAL_NO = #{apNo}
 	</update>
 	
 	<!-- update Expenditure -->
 	<update id="updateExpenditure" parameterType="ApprovalExpenditure">
 		UPDATE APPROVAL_EXPENDITURE
 		SET
 		EX_FORM = #{exForm},
 		EX_COMMON = #{exCommon}
 		WHERE APPROVAL_NO = #{apNo}
 	</update>
 	
 	<!-- update ExpenditureDetail : 원래 있던 지출내역 삭제 후 새로 insert-->
 	<delete id="deleteExDetails" parameterType="_int">
 		DELETE FROM APPROVAL_EX_DETAILS WHERE APPROVAL_NO = #{apNo}	
 	</delete>
 	<update id="updateExpenditureDetail" parameterType="ApprovalExDetails">
 		UPDATE APPROVAL_EX_DETAILS
 		SET
		EX_TITLE = #{title},
		EX_DATE	= #{exDate},
		EX_TYPE = #{exType},
		EX_NUM	= #{exNum},
		EX_CONTENT = #{exContent},
		EX_PRICE = #{price},
		EX_ACCOUNT = #{accName},
		EX_BANK	= #{bankName},
		EX_ACCOUNT_NUM = #{accNum},
		EX_HOLDER = #{accHolder},
		EX_DEPT = #{exDept},
		EX_NOTE = #{note}
 		WHERE
 		EXPENDITURE_NO = #{exNo}
 		AND APPROVAL_NO = #{apNo} 
 	</update>
 	
 	<!-- update Line : 원래 있던 결재라인 삭제 후 새로 insert -->
 	<delete id="deleteLine" parameterType="_int">
 		DELETE FROM APPROVAL_LINE WHERE APPROVAL_NO = #{apNo}
 	</delete>
 	<insert id="updateLine" parameterType="ApprovalLine">
 		INSERT INTO APPROVAL_LINE
 		VALUES(	#{apNo}, #{lineNo}, #{empNo}, #{empName}, #{jobName}, DEFAULT)
 	</insert>
 	
 	<!-- update hr -->
 	<update id="updatetHr" parameterType="ApprovalHr">
 		UPDATE APPROVAL_HR
 		SET
 		HR_CLASS = #{hrType},
 		DUE_DATE = #{dueDate}
 		WHERE APPROVAL_NO = #{apNo}
 	</update>
 	
 	<!-- update Minutes -->
 	<update id="updateMinutes" parameterType="ApprovalMinutes">
 		UPDATE APPROVAL_M_MINUTES
 		SET
 		MEETING_TITLE = #{title},
 		ATTENDEES = #{attendees}
 		WHERE APPROVAL_NO = #{ apNo }
 	</update>
 	
 	<!-- update Diploma -->
 	<update id="updateDiploma" parameterType="ApprovalDiploma">
 		UPDATE APPROVAL_DIPLOMA
 		SET
 		EMAIL = #{email},
 		PHONE = #{phone},
 		ADDRESS = #{address}
 		WHERE APPROVAL_NO = #{apNo}
 	</update>
 	
 	<!-- insert comment -->
 	<insert id="insertComment" parameterType="HashMap">
 		INSERT INTO APPROVAL_COMMENT
 		VALUES(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_CM_NO.NEXTVAL, 5, '0'), #{ apNo }, #{ loginEmpNo }, SYSDATE, #{ comment })
 	</insert>
 	
 	<!-- select comment -->
 	<select id="selectComment" parameterType="_int" resultMap="commentResultSet">
	 	SELECT A.*, B.EMP_NAME, C.DEPT_DNAME, D.JOB_NAME
	 	FROM APPROVAL_COMMENT A
	 	JOIN EMPLOYEE B ON B.EMP_NO = A.WRITER
	 	JOIN DEPT C ON C.DEPT_CODE = B.DEPT_CODE
	 	JOIN JOB_LEVEL D ON D.JOB_CODE = B.JOB_CODE
	 	WHERE APPROVAL_NO = #{ apNo }
	 	ORDER BY COMMENT_NO
	 </select>
	 
	 <!-- 결재상태 update -->
	 <update id="updateLineStatus" parameterType="_int">
	 <![CDATA[	
	 	UPDATE APPROVAL_LINE
	 	SET
	 	CONFIRM_STATUS = CONFIRM_STATUS+1
	 	WHERE APPROVAL_NO = #{ apNo }
	 ]]>	 	
	 </update>
	 <update id="completeStatus"  parameterType="_int">
		UPDATE APPROVAL
	 	SET
	 	PROGRESS = '결재완료'
	 	WHERE APPROVAL_NO = #{ apNo }
	 </update>
	 <update id="returnStatus"  parameterType="_int">
		UPDATE APPROVAL
	 	SET
	 	PROGRESS = '반려'
	 	WHERE APPROVAL_NO = #{ apNo }
	 </update>
	  <update id="updateProgressDate"  parameterType="_int">
		UPDATE APPROVAL_LINE
	 	SET
	 	PROGRESS_DATE = SYSDATE
	 	WHERE APPROVAL_NO = #{ apNo }
	 	AND EMP_NO = #{ loginEmpNo }
	 </update>
</mapper>
