<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">

	<resultMap id="attendanceResultSet" type="Attendance">
		<id property="psaNo" column="PSA_NO"/>
		<result property="psCreateDate" column="PSA_CREATEDATE"/>
		<result property="inTime" column="PSA_IN"/>
		<result property="outTime" column="PSA_OUT"/>
		<result property="psStatus" column="PSA_STATUS"/>
		<result property="empNo" column="PSA_EMP_NO"/>
		<result property="workingTime" column="PSA_WORKINGTIME"/>
		<result property="overTime" column="PSA_OVERTIME"/>
		<result property="total" column="PSA_TOTAL"/>
		<result property="appliedIN" column="PSA_APPLIED_IN"/>
		<result property="appliedOut" column="PSA_APPLIED_OUT"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="deptName" column="DEPT_DNAME"/>
		<result property="deptUname" column="DEPT_UNAME"/>	
		<result property="name" column="EMP_NAME"/>	
	</resultMap>
	
	<!-- 출근등록 -->
    <update id="updateInTime" parameterType="Attendance">
	    UPDATE PS_ATTENDANCE
		SET PSA_IN =#{inTime},
		PSA_APPLIED_IN = #{appliedIN},
		PSA_STATUS=#{psStatus}
		WHERE PSA_EMP_NO = #{empNo}
   </update>
   
   <!-- 메인조회 -->
   <select id="selectAttendance" parameterType="_int" resultMap="attendanceResultSet">
      	SELECT A.*, B.EMP_NAME
		FROM PS_ATTENDANCE A
		JOIN EMPLOYEE B ON A.PSA_EMP_NO = B.EMP_NO
		WHERE A.PSA_EMP_NO = #{empNo}
		AND A.PSA_CREATEDATE LIKE SYSDATE
   </select>  
   
   <!-- 퇴근등록 -->
    <update id="updateOutTime" parameterType="Attendance">
	    UPDATE PS_ATTENDANCE
		SET PSA_OUT =#{outTime},
		PSA_APPLIED_OUT = #{appliedOut},
		PSA_STATUS=#{psStatus},
		PSA_WORKINGTIME=#{workingTime},
		PSA_OVERTIME=#{overTime},
		PSA_TOTAL=#{total}		
		WHERE PSA_EMP_NO = #{empNo}
   </update>
   
   <!-- 검색 임시저장 리스트 -->
	<select id ="searchAttendance" parameterType= "SearchCondition" resultMap="attendanceResultSet">
        SELECT A.PSA_CREATEDATE, A.PSA_EMP_NO, D.DEPT_DNAME, B.EMP_NAME, C.JOB_NAME, A.PSA_STATUS, A.PSA_IN, A.PSA_OUT  
		FROM PS_ATTENDANCE A
		JOIN EMPLOYEE B ON A.PSA_EMP_NO = B.EMP_NO
		JOIN JOB_LEVEL C ON B.JOB_CODE = C.JOB_CODE
		JOIN DEPT D ON B.DEPT_CODE = D.DEPT_CODE
           <if test='optionType eq "전체"'>
	    		WHERE A.PSA_STATUS LIKE '%'||#{attendance_type}||'%'
	    		AND A.PSA_CREATEDATE LIKE '%'||#{attendanceYM}||'%'
	    	</if>		
	    	<if test='optionType eq "부서"'>
	    		WHERE A.PSA_STATUS LIKE '%'||#{attendance_type}||'%'
	    		AND A.PSA_CREATEDATE LIKE '%'||#{attendanceYM}||'%'
	    		AND D.DEPT_DNAME LIKE '%'||#{search}||'%'
	    	</if>
	    	<if test='optionType eq "사번"'>
	    		WHERE A.PSA_STATUS LIKE '%'||#{attendance_type}||'%'
	    		AND A.PSA_CREATEDATE LIKE '%'||#{attendanceYM}||'%'
	    		AND A.PSA_EMP_NO LIKE '%'||#{search}||'%'
	    	</if>
	    	<if test='optionType eq "이름"'>
	    		WHERE A.PSA_STATUS LIKE '%'||#{attendance_type}||'%'
	    		AND A.PSA_CREATEDATE LIKE '%'||#{attendanceYM}||'%'
	    		AND B.EMP_NAME LIKE '%'||#{search}||'%'
	    	</if>
		  AND B.EMP_STATUS='Y'
		  ORDER BY A.PSA_CREATEDATE ASC                          
     </select>
</mapper>
