<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">

	<resultMap id="attendanceResultSet" type="Attendance">
		<id property="psaNo" column="PSA_NO"/>
		<result property="psCreateDate" column="PSA_CREATEDATE"/>
		<result property="inTime" column="PSA_IN"/>
		<result property="outTime" column="PSA_OUT"/>
		<result property="psStatus" column="PSA_STATUS"/>
		<result property="empNo" column="PSA_EMP_NO"/>
		<result property="workingTime" column="PSA_WORKINGTIME"/>
		<result property="overTime" column="PSA_OVERTIME"/>
		<result property="total" column="PSA_TOTAL"/>
		<result property="appliedIN" column="PSA_APPLIED_IN"/>
		<result property="appliedOut" column="PSA_APPLIED_OUT"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="deptName" column="DEPT_DNAME"/>
		<result property="deptUname" column="DEPT_UNAME"/>	
		<result property="name" column="EMP_NAME"/>	
		<result property="vacation" column="PSA_VACATION"/>	
	</resultMap>
	
	<resultMap id="searchResultSet" type="SearchAttendance">
		<id property="year1" column="YEAR1"/>
		<result property="month1" column="MONTH1"/>
		<result property="week_seq" column="WEEK_SEQ"/>
		<result property="start_date" column="START_DATE"/>
		<result property="end_date" column="END_DATE"/>
	</resultMap>
	
	<resultMap id="statisticsSet" type="Statistics">
		<id property="empNo" column="PSA_EMP_NO"/>
		<result property="name" column="EMP_NAME"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="working" column="WORKINGT"/>
		<result property="over" column="OVERT"/>
		<result property="totalT" column="TOTALT"/>
		<result property="leaveWT" column="LEAVEWT"/>
		<result property="leaveOT" column="LEAVEOT"/>
		<result property="empNo" column="A"/>
		<result property="working" column="B"/>
		<result property="over" column="C"/>
		<result property="totalT" column="D"/>
		<result property="leaveWT" column="E"/>
		<result property="leaveOT" column="F"/>
		<result property="half" column="G"/>
		
	</resultMap>
	
	<!-- 출근등록 -->
    <update id="updateInTime" parameterType="Attendance">
	    UPDATE PS_ATTENDANCE
		SET PSA_IN =#{inTime},
		PSA_APPLIED_IN = #{appliedIN},
		PSA_STATUS=#{psStatus}
		WHERE PSA_EMP_NO = #{empNo}
   </update>
   
   <!-- 메인조회 -->
   <select id="selectAttendance" parameterType="_int" resultMap="attendanceResultSet">
      	SELECT A.*, B.EMP_NAME
		FROM PS_ATTENDANCE A
		JOIN EMPLOYEE B ON A.PSA_EMP_NO = B.EMP_NO
		WHERE A.PSA_EMP_NO = #{empNo}
		AND A.PSA_CREATEDATE LIKE SYSDATE
   </select>  
   
   <!-- 퇴근등록 -->
    <update id="updateOutTime" parameterType="Attendance">
	    UPDATE PS_ATTENDANCE
		SET PSA_OUT =#{outTime},
		PSA_APPLIED_OUT = #{appliedOut},
		PSA_STATUS=#{psStatus},
		PSA_WORKINGTIME=#{workingTime},
		PSA_OVERTIME=#{overTime},
		PSA_TOTAL=#{total}		
		WHERE PSA_EMP_NO = #{empNo}
   </update>
   
   
   <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~소속부서 출근기록~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
   
   <!--  모든 팀 검색 근태구분 -->
	<select id ="searchAttendance" parameterType= "SearchAttendance" resultMap="attendanceResultSet">
        SELECT A.PSA_CREATEDATE, A.PSA_EMP_NO, D.DEPT_DNAME, B.EMP_NAME, C.JOB_NAME, A.PSA_STATUS, A.PSA_IN, A.PSA_OUT, A.PSA_NO  
		FROM PS_ATTENDANCE A
		JOIN EMPLOYEE B ON A.PSA_EMP_NO = B.EMP_NO
		JOIN JOB_LEVEL C ON B.JOB_CODE = C.JOB_CODE
		JOIN DEPT D ON B.DEPT_CODE = D.DEPT_CODE
		WHERE A.PSA_STATUS LIKE '%'||#{attendance_type}||'%'
	    	<if test='optionType eq "사번"'>
	    		AND A.PSA_EMP_NO LIKE '%'||#{search}||'%'
	    	</if>
	    	<if test='optionType eq "이름"'>
	    		AND B.EMP_NAME LIKE '%'||#{search}||'%'	
	    	</if>	    
	      AND D.DEPT_DNAME LIKE '%'||#{dept}||'%'
	      AND A.PSA_CREATEDATE LIKE '%'||#{attendanceYM}||'%'     
		  AND B.EMP_STATUS='Y'
		  ORDER BY A.PSA_CREATEDATE ASC                          
     </select>
     
     <!--  모든 팀검색 휴가구분 -->
     <select id ="searchVacation" parameterType= "SearchAttendance" resultMap="attendanceResultSet">
        SELECT A.PSA_CREATEDATE, A.PSA_EMP_NO, D.DEPT_DNAME, B.EMP_NAME, C.JOB_NAME, A.PSA_STATUS, A.PSA_VACATION, A.PSA_IN, A.PSA_OUT, A.PSA_NO  
		FROM PS_ATTENDANCE A
		JOIN EMPLOYEE B ON A.PSA_EMP_NO = B.EMP_NO
		JOIN JOB_LEVEL C ON B.JOB_CODE = C.JOB_CODE
		JOIN DEPT D ON B.DEPT_CODE = D.DEPT_CODE
		WHERE A.PSA_VACATION LIKE '%'||#{vacation_type}||'%'
	    	<if test='optionType eq "사번"'>
	    		AND A.PSA_EMP_NO LIKE '%'||#{search}||'%'
	    	</if>
	    	<if test='optionType eq "이름"'>	    		
	    		AND B.EMP_NAME LIKE '%'||#{search}||'%'
	    	</if>
	      AND A.PSA_CREATEDATE LIKE '%'||#{attendanceYM}||'%'
	      AND D.DEPT_DNAME LIKE '%'||#{dept}||'%'
		  AND B.EMP_STATUS='Y'
		  ORDER BY A.PSA_CREATEDATE ASC                          
     </select>
     
     <!--모든팀 출결조회 전체 -->
     <select id ="checkDeptTimeAll" parameterType= "SearchAttendance" resultMap="attendanceResultSet">
        SELECT A.PSA_CREATEDATE, A.PSA_EMP_NO, D.DEPT_DNAME, B.EMP_NAME, C.JOB_NAME, A.PSA_STATUS,  A.PSA_VACATION, A.PSA_IN, A.PSA_OUT, A.PSA_NO 
		FROM PS_ATTENDANCE A
		JOIN EMPLOYEE B ON A.PSA_EMP_NO = B.EMP_NO
		JOIN JOB_LEVEL C ON B.JOB_CODE = C.JOB_CODE
		JOIN DEPT D ON B.DEPT_CODE = D.DEPT_CODE      
		AND B.EMP_STATUS='Y'
		AND D.DEPT_DNAME LIKE '%'||#{dept}||'%'
		ORDER BY A.PSA_CREATEDATE ASC                          
     </select>
 
	 <!--  모든 팀 검색 근태구분 ~~~~인사팀 -->
	<select id ="searchAttendance1" parameterType= "SearchAttendance" resultMap="attendanceResultSet">
        SELECT A.PSA_CREATEDATE, A.PSA_EMP_NO, D.DEPT_DNAME, B.EMP_NAME, C.JOB_NAME, A.PSA_STATUS, A.PSA_IN, A.PSA_OUT, A.PSA_NO 
		FROM PS_ATTENDANCE A
		JOIN EMPLOYEE B ON A.PSA_EMP_NO = B.EMP_NO
		JOIN JOB_LEVEL C ON B.JOB_CODE = C.JOB_CODE
		JOIN DEPT D ON B.DEPT_CODE = D.DEPT_CODE
		WHERE A.PSA_STATUS LIKE '%'||#{attendance_type}||'%'
	    	<if test='optionType eq "사번"'>
	    		AND A.PSA_EMP_NO LIKE '%'||#{search}||'%'
	    	</if>
	    	<if test='optionType eq "이름"'>
	    		AND B.EMP_NAME LIKE '%'||#{search}||'%'	
	    	</if>	
	    	<if test='optionType eq "부서"'>
	    		AND D.DEPT_DNAME LIKE '%'||#{search}||'%'	
	    	</if>	          
	      AND A.PSA_CREATEDATE LIKE '%'||#{attendanceYM}||'%'     
		  AND B.EMP_STATUS='Y'
		  ORDER BY A.PSA_CREATEDATE ASC                          
     </select>
     
     <!--  모든 팀검색 휴가구분  ~~~~인사팀 -->
     <select id ="searchVacation1" parameterType= "SearchAttendance" resultMap="attendanceResultSet">
        SELECT A.PSA_CREATEDATE, A.PSA_EMP_NO, D.DEPT_DNAME, B.EMP_NAME, C.JOB_NAME, A.PSA_STATUS, A.PSA_VACATION, A.PSA_IN, A.PSA_OUT, A.PSA_NO  
		FROM PS_ATTENDANCE A
		JOIN EMPLOYEE B ON A.PSA_EMP_NO = B.EMP_NO
		JOIN JOB_LEVEL C ON B.JOB_CODE = C.JOB_CODE
		JOIN DEPT D ON B.DEPT_CODE = D.DEPT_CODE
		WHERE A.PSA_VACATION LIKE '%'||#{vacation_type}||'%'
	    	<if test='optionType eq "사번"'>
	    		AND A.PSA_EMP_NO LIKE '%'||#{search}||'%'
	    	</if>
	    	<if test='optionType eq "이름"'>	    		
	    		AND B.EMP_NAME LIKE '%'||#{search}||'%'
	    	</if>
	    	<if test='optionType eq "부서"'>
	    		AND D.DEPT_DNAME LIKE '%'||#{search}||'%'	
	    	</if>
	      AND A.PSA_CREATEDATE LIKE '%'||#{attendanceYM}||'%'
		  AND B.EMP_STATUS='Y'
		  ORDER BY A.PSA_CREATEDATE ASC                          
     </select>
 
  <!--모든팀 출결조회 전체  ~~~~인사팀-->
     <select id ="checkDeptTimeAll1" parameterType= "SearchAttendance" resultMap="attendanceResultSet">
        SELECT A.PSA_CREATEDATE, A.PSA_EMP_NO, D.DEPT_DNAME, B.EMP_NAME, C.JOB_NAME, A.PSA_STATUS,  A.PSA_VACATION, A.PSA_IN, A.PSA_OUT, A.PSA_NO  
		FROM PS_ATTENDANCE A
		JOIN EMPLOYEE B ON A.PSA_EMP_NO = B.EMP_NO
		JOIN JOB_LEVEL C ON B.JOB_CODE = C.JOB_CODE
		JOIN DEPT D ON B.DEPT_CODE = D.DEPT_CODE      
		AND B.EMP_STATUS='Y'
		ORDER BY A.PSA_CREATEDATE ASC                          
     </select>
     
     <!--새창으로 띄우기 위한 상태 변경 행 정보 가져오기 -->
 	<select id ="updateStatus" parameterType= "_int" resultMap="attendanceResultSet">
 		SELECT A.* , B.EMP_NAME, C.JOB_NAME, D.DEPT_DNAME
		FROM PS_ATTENDANCE A
		JOIN EMPLOYEE B ON A.PSA_EMP_NO = B.EMP_NO
		JOIN JOB_LEVEL C ON B.JOB_CODE = C.JOB_CODE
		JOIN DEPT D ON B.DEPT_CODE = D.DEPT_CODE    
		WHERE A.PSA_NO = #{psaNo}
 	</select>
 	
 	<!-- 상태변경  -->
 	<update id="changeStatus" parameterType="Attendance">
	    UPDATE PS_ATTENDANCE
		SET PSA_OUT =#{outTime},
		PSA_APPLIED_OUT = #{appliedOut},
		PSA_IN =#{inTime},
		PSA_APPLIED_IN = #{appliedIN},
		PSA_STATUS=#{psStatus},
		PSA_WORKINGTIME=#{workingTime},
		PSA_OVERTIME=#{overTime},
		PSA_TOTAL=#{total}		
		WHERE PSA_NO = #{psaNo}
   </update>
 
 <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~소속부서 통계~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
 
   <!-- 통계에서 달 선택 후 week 리스트 조회 -->
   <select id="monthselect"  parameterType= "SearchAttendance" resultMap="searchResultSet">
      	SELECT * FROM V_CHECKTIME
		WHERE MONTH1=#{monthselect}
   </select>  
 
 
  <!-- 통계 전체조회 -->
   <select id="wtStatisticsAll"  parameterType= "SearchAttendance" resultMap="statisticsSet">
      	SELECT 
		A.PSA_EMP_NO , B.EMP_NAME,  C.JOB_NAME,
	    SUM(A.PSA_WORKINGTIME) WORKINGT,
	    SUM(A.PSA_OVERTIME) OVERT,
	    SUM(A.PSA_TOTAL) TOTALT,
	    DECODE(144000-SUM(A.PSA_WORKINGTIME),144000,0,144000-SUM(A.PSA_WORKINGTIME) ) LEAVEWT, 
	    DECODE(43200-SUM(A.PSA_OVERTIME),43200,0,43200-SUM(A.PSA_OVERTIME) ) LEAVEOT        
		FROM PS_ATTENDANCE A
		JOIN EMPLOYEE B ON A.PSA_EMP_NO = B.EMP_NO
		JOIN JOB_LEVEL C ON B.JOB_CODE = C.JOB_CODE
		WHERE A.PSA_CREATEDATE BETWEEN #{start_date} AND #{end_date}
		AND B.DEPT_CODE = #{dept}
		GROUP BY A.PSA_EMP_NO, B.EMP_NAME, C.JOB_NAME
		ORDER BY A.PSA_EMP_NO ASC
   </select>  
   
   
  <!-- sysdateWeek -->
   <select id="sysdateWeek"  parameterType= "SearchAttendance" resultMap="searchResultSet">
	   	SELECT START_DATE, END_DATE
		FROM V_CHECKTIME
		WHERE SYSDATE BETWEEN TO_DATE(START_DATE) AND TO_DATE(END_DATE)
   </select>
   
   
   <!-- 통계 검색조회 -->
   <select id="statisticsSearch"  parameterType= "SearchAttendance" resultMap="statisticsSet">
      	SELECT 
		A.PSA_EMP_NO , B.EMP_NAME,  C.JOB_NAME,
	    SUM(A.PSA_WORKINGTIME) WORKINGT,
	    SUM(A.PSA_OVERTIME) OVERT,
	    SUM(A.PSA_TOTAL) TOTALT,
	    DECODE(144000-SUM(A.PSA_WORKINGTIME),144000,0,144000-SUM(A.PSA_WORKINGTIME) ) LEAVEWT, 
	    DECODE(43200-SUM(A.PSA_OVERTIME),43200,0,43200-SUM(A.PSA_OVERTIME) ) LEAVEOT        
		FROM PS_ATTENDANCE A
		JOIN EMPLOYEE B ON A.PSA_EMP_NO = B.EMP_NO
		JOIN JOB_LEVEL C ON B.JOB_CODE = C.JOB_CODE
		WHERE A.PSA_CREATEDATE BETWEEN #{start_date} AND #{end_date}
			<if test='optionType eq "사번"'>
	    		AND A.PSA_EMP_NO LIKE '%'||#{search}||'%'
	    	</if>
	    	<if test='optionType eq "이름"'>	    		
	    		AND B.EMP_NAME LIKE '%'||#{search}||'%'
	    	</if>
	    	<if test='optionType eq "직급"'>
	    		AND C.JOB_NAME LIKE '%'||#{search}||'%'	
	    	</if>
		AND B.DEPT_CODE = #{dept}
		GROUP BY A.PSA_EMP_NO, B.EMP_NAME,  C.JOB_NAME
		ORDER BY A.PSA_EMP_NO ASC
   </select>  
   
     <!--조정문서 날짜 선택 후 상태값 가져오기 -->
 	<select id ="selectStatus" parameterType= "SearchAttendance" resultMap="attendanceResultSet">
 		SELECT *
		FROM PS_ATTENDANCE   
		WHERE PSA_CREATEDATE LIKE '%'||#{year1}||'%'	
		AND PSA_EMP_NO=#{empNo}
 	</select>
     
     <!-- 상태변경  -->
 	<update id="changeTime" parameterType="Attendance">
	    UPDATE PS_ATTENDANCE SET
		PSA_APPLIED_OUT = #{appliedOut},
		PSA_APPLIED_IN = #{appliedIN},
		PSA_STATUS=#{psStatus},
		PSA_WORKINGTIME=#{workingTime},
		PSA_OVERTIME=#{overTime},
		PSA_TOTAL=#{total}		
		WHERE PSA_EMP_NO = #{empNo}
		AND PSA_CREATEDATE LIKE #{vacation}
   </update>
   
   <!-- 출근기록-연차 사용일수 -->
    <select id="selectAtndCount" parameterType="_int" resultMap="statisticsSet">
	   	SELECT
		(SELECT COUNT(*) FROM PS_ATTENDANCE WHERE PSA_EMP_NO=#{empNo} AND PSA_STATUS='정상출근' AND PSA_CREATEDATE LIKE '%21/11%') A,
		(SELECT COUNT(*) FROM PS_ATTENDANCE WHERE PSA_EMP_NO=#{empNo} AND PSA_STATUS='지각' AND PSA_CREATEDATE LIKE '%21/11%') B,
		(SELECT COUNT(*) FROM PS_ATTENDANCE WHERE PSA_EMP_NO=#{empNo} AND PSA_STATUS='결근' AND PSA_CREATEDATE LIKE '%21/11%') C,
		(SELECT COUNT(*) FROM PS_ATTENDANCE WHERE PSA_EMP_NO=#{empNo} AND PSA_STATUS='반차' AND PSA_CREATEDATE LIKE '%21/11%') D,
		(SELECT COUNT(*) FROM PS_ATTENDANCE WHERE PSA_EMP_NO=#{empNo} AND PSA_STATUS='연차' AND PSA_CREATEDATE LIKE '%21/11%') E,
		(SELECT COUNT(*) FROM PS_ATTENDANCE WHERE PSA_EMP_NO=#{empNo} AND PSA_STATUS='휴가' AND PSA_CREATEDATE LIKE '%21/11%') F
		FROM DUAL
	</select>
		
		<!--연차사용현황-휴가사용일수 -->
	  <select id="selectThreeCount" parameterType="_int" resultMap="statisticsSet">
	  	SELECT
		(SELECT COUNT(*) FROM PS_ATTENDANCE WHERE PSA_EMP_NO=#{empNo} AND PSA_STATUS='결근') C,
		(SELECT COUNT(*) FROM PS_ATTENDANCE WHERE PSA_EMP_NO=#{empNo} AND PSA_STATUS='반차')/2 G,
		(SELECT COUNT(*) FROM PS_ATTENDANCE WHERE PSA_EMP_NO=#{empNo} AND PSA_STATUS='연차') E
		FROM DUAL
	</select>
	
	<!-- api -->
   <select id ="selectAPI" parameterType= "_int" resultMap="attendanceResultSet">
   		SELECT A.*, B.EMP_NAME
		FROM PS_ATTENDANCE A
		JOIN EMPLOYEE B ON A.PSA_EMP_NO = B.EMP_NO
		WHERE A.PSA_EMP_NO = #{empNo}
   </select>
   
</mapper>
