<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dailyReportMapper">
	
	<resultMap type="DailyReport" id="dailyReportResultSet">
		<id property="drNo" column="DR_NO"/>
		<result property="drWriterNo" column="DR_WRITER_NO"/>
		<result property="drCategory" column="DR_CATEGORY"/>
		<result property="drReceiverNo" column="DR_RECEIVER_NO"/>
		<result property="drRef" column="DR_REF"/>
		<result property="drTitle" column="DR_TITLE"/>
		<result property="drContent" column="DR_CONTENT"/>
		<result property="drCreateDate" column="DR_CREATE_DATE"/>
		<result property="drAttachOrigin" column="DR_ATTACH_ORIGIN"/>
		<result property="drAttachChange" column="DR_ATTACH_CHANGE"/>
		<result property="drConfirm" column="DR_CONFIRM"/>
		<result property="drStatus" column="DR_STATUS"/>
		<result property="writerName" column="EMP_NAME"/>
		<result property="receiverName" column="EMP_NAME"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="jobCode" column="JOB_CODE"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="deptUname" column="DEPT_UNAME"/>
		<result property="deptDname" column="DEPT_DNAME"/>
	</resultMap>
	
	<resultMap type="DailyReportReply" id="dailyReportReplyResultSet">
		<id property="drRefNo" column="DR_REF_NO"/>
		<result property="drRepRefNo" column="DR_REP_REF_NO"/>
		<result property="drRepCode" column="DR_REP_CODE"/>
		<result property="drRepReRefNo" column="DR_REP_RE_REF_NO"/>
		<result property="drRepWriterNo" column="DR_REP_WRITER_NO"/>
		<result property="drRepReceiverNo" column="DR_REP_RECEIVER_NO"/>
		<result property="drRepContent" column="DR_REP_CONTENT"/>
		<result property="drRepCreateDate" column="DR_REP_CREATE_DATE"/>
		<result property="drRepStatus" column="DR_REP_STATUS"/>
		<result property="drRepWriterName" column="EMP_NAME"/>
		<result property="drRepWriterJobName" column="JOB_NAME"/>
		<result property="drRepWriterDeptDName" column="DEPT_DNAME"/>
	</resultMap>

	<select id="tempDailyReportCount" parameterType="DailyReport" resultType="_int">
		SELECT COUNT(*)
		FROM DAILY_REPORT
		WHERE DR_WRITER_NO = #{ drWriterNo }
		AND DR_RECEIVER_NO = #{ drWriterNo }
		AND DR_CREATE_DATE LIKE SYSDATE
		AND DR_STATUS = 'TS'
	</select>
	
	<update id="updateDailyReportMe" parameterType="DailyReport">
		UPDATE DAILY_REPORT
		SET DR_TITLE = #{drTitle},
		DR_CONTENT = #{drContent},
		DR_CREATE_DATE =		 SYSDATE,
		DR_ATTACH_ORIGIN = #{drAttachOrigin},
		DR_ATTACH_CHANGE = #{drAttachChange},
		DR_CATEGORY = #{drCategory},
		DR_STATUS = 'SN'
		WHERE DR_WRITER_NO = #{ drWriterNo }
		AND DR_RECEIVER_NO = #{ drWriterNo }
		AND DR_CREATE_DATE LIKE SYSDATE
		AND DR_STATUS = 'TS'
	</update>

	<insert id="insertDailyReport" parameterType="DailyReport">
		INSERT INTO DAILY_REPORT
		VALUES(SEQ_DR_NO.NEXTVAL, #{drWriterNo}, #{drCategory}, #{drReceiverNo}, #{drRef}, #{drTitle}, #{drContent},
			 SYSDATE, #{drAttachOrigin}, #{drAttachChange}, DEFAULT, 'SN')
	</insert>
	
	<select id="selectTempSaveDailyReport" parameterType="_int" resultMap="dailyReportResultSet">
		SELECT *
		FROM DAILY_REPORT
		WHERE DR_WRITER_NO = #{ empNo }
		AND DR_RECEIVER_NO = #{ empNo }
		AND DR_CREATE_DATE LIKE SYSDATE
		AND DR_STATUS = 'TS'
	</select>
	
	<update id="updateTempDailyReportMe" parameterType="DailyReport">
		UPDATE DAILY_REPORT
		SET DR_TITLE = #{drTitle},
		DR_CONTENT = #{drContent},
		DR_CREATE_DATE = SYSDATE,
		DR_ATTACH_ORIGIN = #{drAttachOrigin},
		DR_ATTACH_CHANGE = #{drAttachChange},
		DR_CATEGORY = #{drCategory}
		WHERE DR_WRITER_NO = #{ drWriterNo }
		AND DR_RECEIVER_NO = #{ drWriterNo }
		AND DR_CREATE_DATE LIKE SYSDATE
		AND DR_STATUS = 'TS'
	</update>
	
	<insert id="insertTempDailyReport" parameterType="DailyReport">
		INSERT INTO DAILY_REPORT
		VALUES(SEQ_DR_NO.NEXTVAL, #{drWriterNo}, #{drCategory}, #{drReceiverNo}, #{drRef}, #{drTitle}, #{drContent},
			 SYSDATE, #{drAttachOrigin}, #{drAttachChange}, DEFAULT, 'TS')
	</insert>
	
	<select id="alreadySendReport" parameterType="DailyReport" resultType="_int">
		SELECT COUNT(*)
		FROM DAILY_REPORT
		WHERE DR_WRITER_NO = #{ drWriterNo }
		AND DR_CREATE_DATE LIKE SYSDATE
		AND DR_STATUS = 'SN'
	</select>
	
	<select id="selectDailyReportListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM DAILY_REPORT
		WHERE (DR_RECEIVER_NO = #{loginUserNo}
			OR DR_REF = #{loginUserNo})
		AND DR_WRITER_NO != #{loginUserNo}
		AND DR_CREATE_DATE LIKE SYSDATE
		AND DR_STATUS = 'SN'
	</select>
	
	<select id="selectDailyReportList" parameterType="_int" resultMap="dailyReportResultSet">
		SELECT A.*, B.EMP_NAME, B.DEPT_CODE, B.JOB_CODE,
		         D.JOB_NAME, C.DEPT_UNAME, C.DEPT_DNAME
		FROM DAILY_REPORT A
		JOIN EMPLOYEE B ON B.EMP_NO = A.DR_WRITER_NO
		JOIN DEPT C ON C.DEPT_CODE = B.DEPT_CODE
		JOIN JOB_LEVEL D ON D.JOB_CODE = B.JOB_CODE
		WHERE (A.DR_RECEIVER_NO = #{loginUserNo}
		    OR A.DR_REF = #{loginUserNo})
		AND A.DR_WRITER_NO != #{loginUserNo}
		AND A.DR_CREATE_DATE LIKE SYSDATE
		AND A.DR_STATUS = 'SN'
		ORDER BY DR_NO DESC
	</select>
	
	<select id="receiveCheck" parameterType="DailyReport" resultType="_int">
		SELECT COUNT(*)
		FROM DAILY_REPORT
		WHERE DR_WRITER_NO = #{ drWriterNo }
		AND DR_RECEIVER_NO = #{ drReceiverNo }
		AND DR_CREATE_DATE LIKE SYSDATE
		AND DR_STATUS = 'SN'
	</select>
	
	<update id="updateDailyReportRef" parameterType="DailyReport">
		UPDATE DAILY_REPORT
		SET DR_REF = #{ drRef }
		WHERE DR_WRITER_NO = #{ drWriterNo }
		AND DR_RECEIVER_NO = #{ drReceiverNo }
		AND DR_CREATE_DATE LIKE SYSDATE
		AND DR_STATUS = 'SN' 
	</update>
	
	<select id="selectDailyReportCategoryTypeListCount" parameterType="DailyReport" resultType="_int">
		SELECT COUNT(*)
		FROM DAILY_REPORT
		WHERE (DR_RECEIVER_NO = #{drWriterNo}
			OR DR_REF = #{drWriterNo})
		AND DR_WRITER_NO != #{drWriterNo}
		AND DR_CATEGORY = #{drCategory}
		AND DR_CREATE_DATE LIKE SYSDATE
		AND DR_STATUS = 'SN'
	</select>
	
	<select id="selectDailyReportCategoryTypeList" parameterType="DailyReport" resultMap="dailyReportResultSet">
		SELECT A.*, B.EMP_NAME, B.DEPT_CODE, B.JOB_CODE,
		         D.JOB_NAME, C.DEPT_UNAME, C.DEPT_DNAME
		FROM DAILY_REPORT A
		JOIN EMPLOYEE B ON B.EMP_NO = A.DR_WRITER_NO
		JOIN DEPT C ON C.DEPT_CODE = B.DEPT_CODE
		JOIN JOB_LEVEL D ON D.JOB_CODE = B.JOB_CODE
		WHERE (A.DR_RECEIVER_NO = #{drWriterNo}
		    OR A.DR_REF = #{drWriterNo})
		AND A.DR_WRITER_NO != #{drWriterNo}
		AND DR_CATEGORY = #{drCategory}
		AND A.DR_CREATE_DATE LIKE SYSDATE
		AND A.DR_STATUS = 'SN'
		ORDER BY DR_NO DESC
	</select>
	
	<select id="selectDailyReportTermTypeListCount" parameterType="DailyReport" resultType="_int">
		SELECT COUNT(*)
		FROM DAILY_REPORT
		WHERE (DR_RECEIVER_NO = #{drWriterNo}
			OR DR_REF = #{drWriterNo})
		AND DR_WRITER_NO != #{drWriterNo}
		<choose>
			<when test="drCategory != 'allReport'">
				AND DR_CATEGORY = #{drCategory}
			</when>
		</choose>
		<choose>
			<when test=" termType == 1">
				AND DR_CREATE_DATE LIKE SYSDATE
			</when>
			<when test="termType == 2">
			<![CDATA[
				AND DR_CREATE_DATE > TRUNC(SYSDATE) AND DR_CREATE_DATE < SYSDATE + 7
				]]>
			</when>
			<when test=" termType == 3">
			<![CDATA[
				AND DR_CREATE_DATE > TRUNC(SYSDATE) AND DR_CREATE_DATE < ADD_MONTHS(SYSDATE, +1) 
				]]>
			</when>
			<when test="termType == 4">
			<![CDATA[
				AND DR_CREATE_DATE > TRUNC(SYSDATE) AND DR_CREATE_DATE < ADD_MONTHS(SYSDATE, +3) 
				]]>
			</when>
			<when test="termType == 5">
				AND DR_CREATE_DATE BETWEEN #{startDate} AND #{endDate}
			</when>
		</choose>
		AND DR_STATUS = 'SN'
	</select>
	
	<select id="selectDailyReportTermTypeList" parameterType="DailyReport" resultMap="dailyReportResultSet">
		SELECT A.*, B.EMP_NAME, B.DEPT_CODE, B.JOB_CODE,
		         D.JOB_NAME, C.DEPT_UNAME, C.DEPT_DNAME
		FROM DAILY_REPORT A
		JOIN EMPLOYEE B ON B.EMP_NO = A.DR_WRITER_NO
		JOIN DEPT C ON C.DEPT_CODE = B.DEPT_CODE
		JOIN JOB_LEVEL D ON D.JOB_CODE = B.JOB_CODE
		WHERE (A.DR_RECEIVER_NO = #{drWriterNo}
		    OR A.DR_REF = #{drWriterNo})
		AND A.DR_WRITER_NO != #{drWriterNo}
		<choose>
			<when test="drCategory != 'allReport'">
				AND DR_CATEGORY = #{drCategory}
			</when>
		</choose>
		
		<choose>
			<when test="termType == 1">
				AND DR_CREATE_DATE LIKE SYSDATE
			</when>
			<when test="termType == 2">
			<![CDATA[
				AND DR_CREATE_DATE > TRUNC(SYSDATE) AND DR_CREATE_DATE < SYSDATE + 7
				]]>
			</when>
			<when test="termType == 3">
			<![CDATA[
				AND DR_CREATE_DATE > TRUNC(SYSDATE) AND DR_CREATE_DATE < ADD_MONTHS(SYSDATE, +1) 
				]]>
			</when>
			<when test="termType == 4">
			<![CDATA[
				AND DR_CREATE_DATE > TRUNC(SYSDATE) AND DR_CREATE_DATE < ADD_MONTHS(SYSDATE, +3) 
				]]>
			</when>
			<when test="termType == 5">
				AND DR_CREATE_DATE BETWEEN #{startDate} AND #{endDate}
			</when>
		</choose>
		AND A.DR_STATUS = 'SN'
		ORDER BY DR_NO DESC
	</select>
	
	<select id="selectDetailDailyReport" parameterType="DailyReport" resultMap="dailyReportResultSet">
		SELECT A.*, B.EMP_NAME, B.DEPT_CODE, B.JOB_CODE,
		         D.JOB_NAME, C.DEPT_UNAME, C.DEPT_DNAME
		FROM DAILY_REPORT A
		JOIN EMPLOYEE B ON B.EMP_NO = A.DR_WRITER_NO
		JOIN DEPT C ON C.DEPT_CODE = B.DEPT_CODE
		JOIN JOB_LEVEL D ON D.JOB_CODE = B.JOB_CODE
		WHERE A.DR_WRITER_NO = #{drWriterNo}
		AND A.DR_RECEIVER_NO = #{drWriterNo}
		AND A.DR_CREATE_DATE LIKE #{startDate}
		AND A.DR_STATUS = 'SN'
	</select>
	
	<insert id="addReply" parameterType="DailyReportReply">
		INSERT INTO DAILY_REPORT_REPLY
		VALUES(SEQ_DR_REF_NO.NEXTVAL, #{drRepRefNo}, DEFAULT, NULL, #{drRepWriterNo}, NULL, #{drRepContent}, DEFAULT, DEFAULT)
	</insert>
	
	<select id="selectReplyList" parameterType="_int" resultMap="dailyReportReplyResultSet">
		SELECT A.*, B.EMP_NAME, D.JOB_NAME, C.DEPT_UNAME, C.DEPT_DNAME
		FROM DAILY_REPORT_REPLY A
		JOIN EMPLOYEE B ON B.EMP_NO = A.DR_REP_WRITER_NO
		JOIN DEPT C ON C.DEPT_CODE = B.DEPT_CODE
		JOIN JOB_LEVEL D ON D.JOB_CODE = B.JOB_CODE
		WHERE DR_REP_REF_NO = #{drRefNo}
		ORDER BY 1
	</select>
	
	<select id="deleteReply" parameterType="_int">
		UPDATE DAILY_REPORT_REPLY
		SET DR_REP_STATUS = 'N'
		WHERE DR_REF_NO = #{drNo}
	</select>
</mapper>
