<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dailyReportMapper">
	
	<resultMap type="DailyReport" id="dailyReportResultSet">
		<id property="drNo" column="DR_NO"/>
		<result property="drWriterNo" column="DR_WRITER_NO"/>
		<result property="drCategory" column="DR_CATEGORY"/>
		<result property="drReceiverNo" column="DR_RECEIVER_NO"/>
		<result property="drRef" column="DR_REF"/>
		<result property="drTitle" column="DR_TITLE"/>
		<result property="drContent" column="DR_CONTENT"/>
		<result property="drCreateDate" column="DR_CREATE_DATE"/>
		<result property="drAttachOrigin" column="DR_ATTACH_ORIGIN"/>
		<result property="drAttachChange" column="DR_ATTACH_CHANGE"/>
		<result property="drConfirm" column="DR_CONFIRM"/>
		<result property="drStatus" column="DR_STATUS"/>
		<result property="writerName" column="EMP_NAME"/>
		<result property="receiverName" column="EMP_NAME"/>
	</resultMap>

	<select id="tempDailyReportCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM DAILY_REPORT
		WHERE DR_WRITER_NO = #{ loginUser }
		AND DR_RECEIVER_NO = #{ loginUser }
		AND DR_CREATE_DATE = SYSDATE
		AND DR_STATUS = 'TS'
	</select>
	
	<update id="updateDailyReportMe" parameterType="DailyReport">
		UPDATE DAILY_REPORT
		SET DR_TITLE = #{drTitle}
		AND DR_CONTENT = #{drContent}
		AND DR_CREATE_DATE = SYSDATE
		AND DR_ATTACH_ORIGIN = #{drAttachOrigin}
		AND DR_ATTACH_CHANGE = #{drAttachChange}
		AND DR_CATEGORY = #{drCategory}
		AND DR_STATUS = 'Y'
	</update>

	<insert id="insertDailyReport">
		INSERT INTO DAILY_REPORT
		VALUES(SEQ_DR_NO.NEXTVAL, #{drWriterNo}, #{drCategory}, #{drReceiverNo}, #{drRef}, #{drTitle}, #{drContent},
			 DEFAULT, #{drAttachOrigin}, #{drAttachChange}, DEFAULT, 'SN')
	</insert>
</mapper>
