<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="employeeMapper">

	<resultMap id="employeeResultSet" type="Employee">
		<id property="empNo" column="EMP_NO"/>
		<result property="empPwd" column="EMP_PWD"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="empEn" column="EMP_EN"/>
		<result property="empPid" column="EMP_PID"/>
		<result property="empEmail" column="EMP_EMAIL"/>
		<result property="empPhone" column="EMP_PHONE"/>
		<result property="empEphone" column="EMP_EPHONE"/>
		<result property="empAddress" column="EMP_ADDRESS"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="jobCode" column="JOB_CODE"/>
		<result property="empSalary" column="EMP_SALARY"/>
		<result property="empHire" column="EMP_HIRE"/>
		<result property="empFire" column="EMP_FIRE"/>	
		<result property="empOrgPic" column="EMP_ORG_PIC"/>
		<result property="empChgpic" column="EMP_CHG_PIC"/>
		<result property="empOrgSign" column="EMP_CHG_SIGN"/>
		<result property="empChgSign" column="EMP_CHG_SIGN"/>		
		<result property="empNote" column="EMP_NOTE"/>
		<result property="empStatus" column="EMP_STATUS"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="deptUname" column="DEPT_UNAME"/>
		<result property="deptDname" column="DEPT_DNAME"/>
		<result property="rowNum" column="ROWNUM"/>
	</resultMap>
	
	<!-- Dept -->
   <resultMap id="deptResultSet" type="Dept">
      <id property="deptCode" column="DEPT_CODE"/>
      <result property="deptUName" column="DEPT_UNAME"/>
      <result property="deptDName" column="DEPT_DNAME"/>
   </resultMap>

	<select id="loginEmployee" parameterType="Employee" resultMap="employeeResultSet">
		<!-- 암호화 전 -->
		SELECT A.*, B.JOB_NAME, C.DEPT_DNAME, C.DEPT_UNAME
		FROM EMPLOYEE A
		JOIN JOB_LEVEL B ON A.JOB_CODE = B.JOB_CODE
		JOIN DEPT C ON A.DEPT_CODE = C.DEPT_CODE
		WHERE EMP_NO=#{empNo} AND EMP_PWD=#{empPwd} AND EMP_STATUS='Y'
		

		<!-- 암호화 후
		select * from EMPLOYEE
		where EMP_NO=#{empNo} and EMP_STATUS='Y'
		 -->
	</select>
	
	<!-- 사원등록 -->
	<insert id="insertEmp" parameterType="Employee">
		INSERT INTO EMPLOYEE
		VALUES(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_HR_NO.NEXTVAL, 5, '0'), #{empPwd}, #{empName}, #{empEn}, #{empPid}, #{empEmail}, #{empPhone}, #{empEphone},  #{empAddress},
				#{deptCode}, #{jobCode}, #{empSalary}, SYSDATE, null, null, null, null, null, null, DEFAULT)
	</insert>
	
	<!-- 수정 -->
	<update id="updateEmp" parameterType="Employee" >
		UPDATE EMPLOYEE
		SET EMP_PHONE = #{empPhone}
		WHERE EMP_NO = #{empNo}
	</update>
	
	<select id="selectEmp" parameterType="Employee" resultMap="employeeResultSet">
		SELECT *
		FROM EMPLOYEE
		WHERE EMP_NO = #{empNo}
	</select>
	
	<select id="getDeptList" resultMap="deptResultSet">
      SELECT *
      FROM DEPT
   </select>
   
   <select id="getDeptUList" resultMap="deptResultSet">
      SELECT DISTINCT DEPT_UNAME
		FROM DEPT
   </select>
	
	<!--
	<delete id="deleteMember" parameterType="string">
		update member
		set status='N'
		where user_id=#{userId}
	</delete>
	
	<update id="updatePwd" parameterType="Member">
		update member
		set user_pwd = #{userPwd}
		where user_id = #{userId}
	</update>
-->
	
	<!-- 등록된 직원 사번 가져오기 -->
	<select id="getLastEmpNo" resultMap="employeeResultSet">
	<![CDATA[
		SELECT ROWNUM, EMP_NO
		FROM (SELECT *
               FROM EMPLOYEE
               ORDER BY EMP_NO DESC)
        WHERE ROWNUM = 1
	]]>
	</select>
</mapper>
