<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="manageScheduleMapper">
	
	<!-- ManageSchedule -->
    <resultMap id="manageScheduleResultSet" type="ManageSchedule">
       <id property="shc_no" column="SCH_NO"/>
       <result property="sch_empno" column="SCH_EMP_NO"/>
       <result property="sch_type" column="SCH_TYPE"/>
       <result property="sch_calNo" column="SCH_CAL_NO"/>
       <result property="sch_title" column="SCH_TITLE"/>
       <result property="sch_writer" column="SCH_WRITER"/>
       <result property="sch_content" column="SCH_CONTENT"/>
       <result property="sch_startdate" column="SCH_STARTDATE"/>
       <result property="sch_endate" column="SCH_ENDDATE"/>
       <result property="sch_allday" column="SCH_ALLDAY"/>
       <result property="sch_place" column="SCH_PLACE"/>
       <result property="sch_color" column="SCH_COLOR"/>
    </resultMap>
	
	<!-- Calendar_Type -->
	<resultMap id="calendarResultSet" type="ManageSchedule">
		<id property="calNo" column="CAL_NO"/>
		<result property="cal_type" column="CAL_TYPE"/>
		<result property="cal_udept" column="CAL_UDEPT"/>
		<result property="cal_deptCode" column="CAL_DEPT_CODE"/>
		<result property="cal_maker" column="CAL_MAKER"/>
		<result property="cal_name" column="CAL_NAME"/>
		<result property="cal_makeDay" column="CAL_MAKEDAY"/>
		<result property="cal_color" column="CAL_COLOR"/>
	</resultMap>

	<!-- 개인 캘린더 타입 가져오기 -->
	<select id="selectPrivateCal" resultMap="calendarResultSet">
		SELECT CAL_NO, CAL_COLOR
		FROM CALENDAR_TYPE
		WHERE CAL_MAKER = #{cal_maker}
		AND CAL_TYPE = #{cal_type}
	</select>
	
	<!-- 본부/부서별 캘린더 타입 가져오기 -->
	<select id="selectCalType" resultMap="calendarResultSet">
		SELECT CAL_NO, CAL_TYPE, CAL_UDEPT, CAL_DEPT_CODE, CAL_COLOR
		FROM CALENDAR_TYPE
		WHERE CAL_NAME = #{cal_name}
	</select>
	
	<!-- 일정 추가하기 -->
	<insert id="addEvent" parameterType="ManageSchedule">
		INSERT INTO SCHEDULE_TABLE
		VALUES (SEQ_SCH.NEXTVAL, #{sch_empno}, #{sch_type}, #{sch_calNo}, #{sch_title},#{sch_writer},#{sch_content},#{sch_startdate},#{sch_endate},#{sch_allday},#{sch_place},#{sch_color})
	</insert>
	
	<!-- 내 캘린더 일정들 가져오기 -->
	<select id="getMyCalender" parameterType="HashMap" resultMap="manageScheduleResultSet">
		SELECT A.*
		FROM SCHEDULE_TABLE A 
		JOIN CALENDAR_TYPE B ON B.CAL_NO = A.SCH_CAL_NO
		WHERE SCH_EMP_NO = #{myEmpNo} 
		AND A.SCH_CAL_NO = #{cal_no}
	</select>
	
	<!-- 내 캘린더 일정들 가져오기 -->
	<select id="getDeptSchedule" parameterType="_int" resultMap="manageScheduleResultSet">
		SELECT A.*
		FROM SCHEDULE_TABLE A 
		JOIN CALENDAR_TYPE B ON B.CAL_NO = A.SCH_CAL_NO
		WHERE A.SCH_CAL_NO = #{cal_no}
	</select>
</mapper>
