<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="manageScheduleMapper">
	
	<!-- ManageSchedule -->
    <resultMap id="manageScheduleResultSet" type="ManageSchedule">
       <id property="sch_no" column="SCH_NO"/>
       <result property="sch_empno" column="SCH_EMP_NO"/>
       <result property="sch_type" column="SCH_TYPE"/>
       <result property="sch_calNo" column="SCH_CAL_NO"/>
       <result property="sch_title" column="SCH_TITLE"/>
       <result property="sch_writer" column="SCH_WRITER"/>
       <result property="sch_content" column="SCH_CONTENT"/>
       <result property="sch_startdate" column="SCH_STARTDATE"/>
       <result property="sch_endate" column="SCH_ENDDATE"/>
       <result property="sch_allday" column="SCH_ALLDAY"/>
       <result property="sch_place" column="SCH_PLACE"/>
       <result property="sch_color" column="SCH_COLOR"/>
    </resultMap>
	
	<!-- Calendar_Type -->
	<resultMap id="calendarResultSet" type="ManageSchedule">
		<id property="calNo" column="CAL_NO"/>
		<result property="cal_type" column="CAL_TYPE"/>
		<result property="cal_udept" column="CAL_UDEPT"/>
		<result property="cal_deptCode" column="CAL_DEPT_CODE"/>
		<result property="cal_maker" column="CAL_MAKER"/>
		<result property="cal_name" column="CAL_NAME"/>
		<result property="cal_makeDay" column="CAL_MAKEDAY"/>
		<result property="cal_color" column="CAL_COLOR"/>
	</resultMap>
	
	<!-- Dept -->
	<resultMap id="deptResultSet" type="Dept">
		<id property="deptCode" column="DEPT_CODE"/>
		<result property="deptUName" column="DEPT_UNAME"/>
		<result property="deptDName" column="DEPT_DNAME"/>
	</resultMap>

	<!-- 개인 캘린더 타입 가져오기 -->
	<select id="selectPrivateCal" resultMap="calendarResultSet">
		SELECT CAL_NO, CAL_COLOR
		FROM CALENDAR_TYPE
		WHERE CAL_MAKER = #{cal_maker}
		AND CAL_TYPE = #{cal_type}
	</select>
	
	<!-- 본부/부서별 캘린더 타입 가져오기 -->
	<select id="selectCalType" resultMap="calendarResultSet">
		SELECT CAL_NO, CAL_TYPE, CAL_UDEPT, CAL_DEPT_CODE, CAL_COLOR
		FROM CALENDAR_TYPE
		WHERE CAL_NAME = #{cal_name}
	</select>
	
	<!-- 일정 추가하기 -->
	<insert id="addEvent" parameterType="ManageSchedule">
		INSERT INTO SCHEDULE_TABLE
		VALUES (SEQ_SCH.NEXTVAL, #{sch_empno}, #{sch_type}, #{sch_calNo}, #{sch_title},#{sch_writer},#{sch_content},#{sch_startdate},#{sch_endate},#{sch_allday},#{sch_place},#{sch_color})
	</insert>
	
	<!-- 내 캘린더 일정들 가져오기 -->
	<select id="getMyCalender" parameterType="HashMap" resultMap="manageScheduleResultSet">
		SELECT A.*
		FROM SCHEDULE_TABLE A 
		JOIN CALENDAR_TYPE B ON B.CAL_NO = A.SCH_CAL_NO
		WHERE SCH_EMP_NO = #{myEmpNo} 
		AND A.SCH_CAL_NO = #{cal_no}
	</select>
	
	<!-- 내 캘린더 일정들 가져오기 -->
	<select id="getDeptSchedule" parameterType="_int" resultMap="manageScheduleResultSet">
		SELECT A.*
		FROM SCHEDULE_TABLE A 
		JOIN CALENDAR_TYPE B ON B.CAL_NO = A.SCH_CAL_NO
		WHERE A.SCH_CAL_NO = #{cal_no}
	</select>
	
	<!-- 일정 삭제 -->
	<delete id="deleteCal" parameterType="_int">
		DELETE FROM SCHEDULE_TABLE
		WHERE SCH_NO = #{schNo}
	</delete>
	
	<!-- 부서 가져오기 -->
	<select id="getDeptList" resultMap="deptResultSet">
		SELECT *
		FROM DEPT
	</select>
	
	<!-- 수정용 일정가져오기 -->
	<select id="getUpdateCal" parameterType="_int" resultMap="manageScheduleResultSet">
		SELECT *
		FROM SCHEDULE_TABLE
		WHERE SCH_NO = #{schNo}
	</select>
	
	<!-- 일정 수정하기 -->
	<update id="updateEvent" parameterType="ManageSchedule">
		UPDATE SCHEDULE_TABLE
		SET SCH_TYPE = #{sch_type}, 
			SCH_CAL_NO = #{sch_calNo},
			SCH_TITLE = #{sch_title},
			SCH_CONTENT = #{sch_content},
			SCH_STARTDATE = #{sch_startdate},
			SCH_ENDDATE = #{sch_endate},
			SCH_ALLDAY = #{sch_allday},
			SCH_PLACE = #{sch_place},
			SCH_COLOR = #{sch_color}
		WHERE SCH_NO = #{sch_no}
	</update>
	
	<!-- 일정 추가하기 -->
	<insert id="insertCal" parameterType="_int">
		INSERT INTO CALENDAR_TYPE
		VALUES (SEQ_CAL.NEXTVAL, 'PRIVATE', NULL, NULL, #{empNo}, '내 캘린더', SYSDATE, 'THISTLE')
	</insert>
	
	<!-- 해당 날짜 메인 일정 가져오기 -->
	<select id="getEventList" parameterType="HashMap" resultMap="manageScheduleResultSet">
		SELECT *
		FROM SCHEDULE_TABLE 
		WHERE SCH_STARTDATE = #{getDate}
        AND (SCH_TYPE = '전체' OR SCH_TYPE = #{deptUname} OR SCH_TYPE = #{deptDname})
        OR (SCH_EMP_NO = #{empNo} AND SCH_TYPE = 'PRIVATE')
	</select>
</mapper>
