<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="officeroomMapper">
  
	<resultMap id="employeeResultSet" type="Employee">
		<id property="empNo" column="EMP_NO"/>
		<result property="empPwd" column="EMP_PWD"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="empEn" column="EMP_EN"/>
		<result property="empPid" column="EMP_PID"/>
		<result property="empEmail" column="EMP_EMAIL"/>
		<result property="empPhone" column="EMP_PHONE"/>
		<result property="empEphone" column="EMP_EPHONE"/>
		<result property="empAddress" column="EMP_ADDRESS"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="jobCode" column="JOB_CODE"/>
		<result property="empSalary" column="EMP_SALARY"/>
		<result property="empHire" column="EMP_HIRE"/>
		<result property="empFire" column="EMP_FIRE"/>	
		<result property="empOrgPic" column="EMP_ORG_PIC"/>
		<result property="empChgPic" column="EMP_CHG_PIC"/>
		<result property="empOrgSign" column="EMP_ORG_SIGN"/>
		<result property="empChgSign" column="EMP_CHG_SIGN"/>		
		<result property="empNote" column="EMP_NOTE"/>
		<result property="empStatus" column="EMP_STATUS"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="deptUname" column="DEPT_UNAME"/>
		<result property="deptDname" column="DEPT_DNAME"/>
		<result property="rowNum" column="ROWNUM"/>
		<result property="empFireString" column="EMP_FIRE"/>
	</resultMap>
	
	<resultMap id="commonResourcesResultSet" type="CommonResources">
		<id property="crNo" column="CR_NO"/>
		<result property="crCode" column="CR_CODE"/>
		<result property="crWriterNo" column="CR_WRITER_NO"/>
		<result property="crCategory" column="CR_CATEGORY"/>
		<result property="crTitle" column="CR_TITLE"/>
		<result property="crContent" column="CR_CONTENT"/>
		<result property="crCreateDate" column="CR_CREATE_DATE"/>
		<result property="crCount" column="CR_COUNT"/>
		<result property="crAttach" column="CR_ATTACH"/>
		<result property="crStatus" column="CR_STATUS"/>
		<result property="writerName" column="EMP_NAME"/>
		<result property="writerJobName" column="JOB_NAME"/>
		<result property="writerDeptUName" column="DEPT_UNAME"/>
		<result property="writerDeptDName" column="DEPT_DNAME"/>
	</resultMap>
	
	<resultMap id="deptResourcesResultSet" type="DeptResources">
		<id property="deptrNo" column="DEPTR_NO"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="deptrWriterNo" column="DEPTR_WRITER_NO"/>
		<result property="deptrCategory" column="DEPTR_CATEGORY"/>
		<result property="deptrTitle" column="DEPTR_TITLE"/>
		<result property="deptrContent" column="DEPTR_CONTENT"/>
		<result property="deptrCreateDate" column="DEPTR_CREATE_DATE"/>
		<result property="deptrCount" column="DEPTR_COUNT"/>
		<result property="deptrAttach" column="DEPTR_ATTACH"/>
		<result property="deptrStatus" column="DEPTR_STATUS"/>
		<result property="writerName" column="EMP_NAME"/>
		<result property="writerJobName" column="JOB_NAME"/>
		<result property="writerDeptUName" column="DEPT_UNAME"/>
		<result property="writerDeptDName" column="DEPT_DNAME"/>
	</resultMap>
	
	<resultMap id="commonResourcesReplyResultSet" type="CommonResourcesReply">
		<id property="crRepNo" column="CR_REP_NO"/>
		<result property="crNo" column="CR_NO"/>
		<result property="crRepCode" column="CR_REP_CODE"/>
		<result property="crRepWriterNo" column="CR_REP_WRITER_NO"/>
		<result property="crRepReceiverNo" column="CR_REP_RECEIVER_NO"/>
		<result property="crRepContent" column="CR_REP_CONTENT"/>
		<result property="crRepCreateDate" column="CR_REP_CREATE_DATE"/>
		<result property="crRepStatus" column="CR_REP_STATUS"/>
		<result property="writerName" column="EMP_NAME"/>
		<result property="writerJobName" column="JOB_NAME"/>
		<result property="writerDeptDName" column="DEPT_DNAME"/>
	</resultMap>
	
  	<resultMap id="commonResourcesAttachResultSet" type="CommonResourcesAttachment">
		<id property="crAttachNo" column="CR_ATTACH_NO"/>
		<result property="crNo" column="CR_NO"/>
		<result property="crAttachOrigin" column="CR_ATTACH_ORIGIN"/>
		<result property="crAttachChange" column="CR_ATTACH_CHANGE"/>
		<result property="crAttachStatus" column="CR_ATTACH_STATUS"/>
	</resultMap>
	
	<resultMap id="deptResourcesReplyResultSet" type="DeptResourcesReply">
		<id property="deptrRepNo" column="DEPTR_REP_NO"/>
		<result property="deptrNo" column="DEPTR_NO"/>
		<result property="deptrRepCode" column="DEPTR_REP_CODE"/>
		<result property="deptrRepWriterNo" column="DEPTR_REP_WRITER_NO"/>
		<result property="deptrRepReceiverNo" column="DEPTR_REP_RECEIVER_NO"/>
		<result property="deptrRepContent" column="DEPTR_REP_CONTENT"/>
		<result property="deptrRepCreateDate" column="DEPTR_REP_CREATE_DATE"/>
		<result property="deptrRepStatus" column="DEPTR_REP_STATUS"/>
		<result property="writerName" column="EMP_NAME"/>
		<result property="writerJobName" column="JOB_NAME"/>
		<result property="writerDeptDName" column="DEPT_DNAME"/>
	</resultMap>
	
  	<resultMap id="deptResourcesAttachResultSet" type="DeptResourcesAttachment">
		<id property="deptrAttachNo" column="DEPTR_ATTACH_NO"/>
		<result property="deptrNo" column="DEPTR_NO"/>
		<result property="deptrAttachOrigin" column="DEPTR_ATTACH_ORIGIN"/>
		<result property="deptrAttachChange" column="DEPTR_ATTACH_CHANGE"/>
		<result property="deptrAttachStatus" column="DEPT_ATTACH_STATUS"/>
	</resultMap>
	
	<resultMap id="attendanceResultSet" type="Attendance">
		<id property="psaNo" column="PSA_NO"/>
		<result property="psCreateDate" column="PSA_CREATEDATE"/>
		<result property="inTime" column="PSA_IN"/>
		<result property="outTime" column="PSA_OUT"/>
		<result property="psStatus" column="PSA_STATUS"/>
		<result property="empNo" column="PSA_EMP_NO"/>
		<result property="workingTime" column="PSA_WORKINGTIME"/>
		<result property="overTime" column="PSA_OVERTIME"/>
		<result property="total" column="PSA_TOTAL"/>
		<result property="appliedIN" column="PSA_APPLIED_IN"/>
		<result property="appliedOut" column="PSA_APPLIED_OUT"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="deptName" column="DEPT_DNAME"/>
		<result property="deptUname" column="DEPT_UNAME"/>	
		<result property="name" column="EMP_NAME"/>	
		<result property="vacation" column="PSA_VACATION"/>	
	</resultMap>
	
  	<select id="selectAllEmployee" resultMap="employeeResultSet">
		SELECT A.*, B.DEPT_UNAME, B.DEPT_DNAME, C.JOB_NAME
		FROM EMPLOYEE A
		JOIN DEPT B ON B.DEPT_CODE = A.DEPT_CODE
		JOIN JOB_LEVEL C ON C.JOB_CODE = A.JOB_CODE
		WHERE A.EMP_STATUS = 'Y'
		ORDER BY A.EMP_NO
	</select>
	
  	<select id="selectDeptEmployee" parameterType="String" resultMap="employeeResultSet">
		SELECT A.*, B.DEPT_UNAME, B.DEPT_DNAME, C.JOB_NAME
		FROM EMPLOYEE A
		JOIN DEPT B ON B.DEPT_CODE = A.DEPT_CODE
		JOIN JOB_LEVEL C ON C.JOB_CODE = A.JOB_CODE
		WHERE A.EMP_STATUS = 'Y'
		AND A.DEPT_CODE LIKE '%'||#{deptCode}||'%'
	</select>
	
	<select id="selectKorSortEmployee" parameterType="String" resultMap="employeeResultSet">
		SELECT A.*, B.DEPT_UNAME, B.DEPT_DNAME, C.JOB_NAME
		FROM EMPLOYEE A
		JOIN DEPT B ON B.DEPT_CODE = A.DEPT_CODE
		JOIN JOB_LEVEL C ON C.JOB_CODE = A.JOB_CODE
		<choose>
			<when test='_parameter eq "ㄱ"'>
				WHERE REGEXP_INSTR(A.EMP_NAME, '[가-깋]') = 1
			</when>
			<when test='_parameter eq "ㄴ"'>
				WHERE REGEXP_INSTR(A.EMP_NAME, '[나-닣]') = 1
			</when>
			<when test='_parameter eq "ㄷ"'>
				WHERE REGEXP_INSTR(A.EMP_NAME, '[다-딯]') = 1
			</when>
			<when test='_parameter eq "ㄹ"'>
				WHERE REGEXP_INSTR(A.EMP_NAME, '[라-맇]') = 1
			</when>
			<when test='_parameter eq "ㅁ"'>
				WHERE REGEXP_INSTR(A.EMP_NAME, '[마-밓]') = 1
			</when>
			<when test='_parameter eq "ㅂ"'>
				WHERE REGEXP_INSTR(A.EMP_NAME, '[바-빟]') = 1
			</when>
			<when test='_parameter eq "ㅅ"'>
				WHERE REGEXP_INSTR(A.EMP_NAME, '[사-싷]') = 1
			</when>
			<when test='_parameter eq "ㅇ"'>
				WHERE REGEXP_INSTR(A.EMP_NAME, '[아-잏]') = 1
			</when>
			<when test='_parameter eq "ㅈ"'>
				WHERE REGEXP_INSTR(A.EMP_NAME, '[자-짛]') = 1
			</when>
			<when test='_parameter eq "ㅊ"'>
				WHERE REGEXP_INSTR(A.EMP_NAME, '[차-칳]') = 1
			</when>
			<when test='_parameter eq "ㅋ"'>
				WHERE REGEXP_INSTR(A.EMP_NAME, '[카-킿]') = 1
			</when>
			<when test='_parameter eq "ㅌ"'>
				WHERE REGEXP_INSTR(A.EMP_NAME, '[타-팋]') = 1
			</when>
			<when test='_parameter eq "ㅍ"'>
				WHERE REGEXP_INSTR(A.EMP_NAME, '[파-핗]') = 1
			</when>
			<otherwise>
				WHERE REGEXP_INSTR(A.EMP_NAME, '[하-힣]') = 1
			</otherwise>
		</choose>
		AND A.EMP_STATUS = 'Y'
		ORDER BY A.EMP_NO
	</select>
	
	<select id="selectEngSortEmployee" parameterType="String" resultMap="employeeResultSet">
		SELECT A.*, B.DEPT_UNAME, B.DEPT_DNAME, C.JOB_NAME
		FROM EMPLOYEE A
		JOIN DEPT B ON B.DEPT_CODE = A.DEPT_CODE
		JOIN JOB_LEVEL C ON C.JOB_CODE = A.JOB_CODE
		<choose>
			<when test='_parameter eq "A ~ E"'>
				WHERE REGEXP_INSTR(A.EMP_EN, '[A-E]') = 1
			</when>
			<when test='_parameter eq "F ~ J"'>
				WHERE REGEXP_INSTR(A.EMP_EN, '[F-J]') = 1
			</when>
			<when test='_parameter eq "K ~ O"'>
				WHERE REGEXP_INSTR(A.EMP_EN, '[K-O]') = 1
			</when>
			<when test='_parameter eq "P ~ T"'>
				WHERE REGEXP_INSTR(A.EMP_EN, '[P-T]') = 1
			</when>
			<otherwise>
				WHERE REGEXP_INSTR(A.EMP_EN, '[U-Z]') = 1
			</otherwise>
		</choose>
		AND A.EMP_STATUS = 'Y'
		ORDER BY A.EMP_NO
	</select>
	
	<select id="searchEmployeeDetail" parameterType="_int" resultMap="employeeResultSet">
		SELECT A.*, B.DEPT_UNAME, B.DEPT_DNAME, C.JOB_NAME
		FROM EMPLOYEE A
		JOIN DEPT B ON B.DEPT_CODE = A.DEPT_CODE
		JOIN JOB_LEVEL C ON C.JOB_CODE = A.JOB_CODE
		WHERE A.EMP_STATUS = 'Y'
		AND A.EMP_NO = #{empNo}
	</select>
	
	<select id="searchEmployee" parameterType="SearchEmployee" resultMap="employeeResultSet">
		SELECT A.*, B.DEPT_UNAME, B.DEPT_DNAME, C.JOB_NAME
		FROM EMPLOYEE A
		JOIN DEPT B ON B.DEPT_CODE = A.DEPT_CODE
		JOIN JOB_LEVEL C ON C.JOB_CODE = A.JOB_CODE
		WHERE A.EMP_STATUS = 'Y'
		<choose>
			<when test="allType != null">
				AND (A.EMP_NO LIKE '%'||#{allType}||'%'
					OR A.EMP_NAME LIKE '%'||#{allType}||'%'
					OR A.EMP_EN LIKE '%'||#{allType}||'%'
					OR A.EMP_EMAIL LIKE '%'||#{allType}||'%'
					OR A.EMP_EPHONE LIKE '%'||#{allType}||'%'
					OR C.JOB_NAME LIKE '%'||#{allType}||'%'
					OR B.DEPT_UNAME LIKE '%'||#{allType}||'%'
					OR B.DEPT_DNAME LIKE '%'||#{allType}||'%' )
			</when>
			<when test="deptType != null">
				AND A.DEPT_CODE LIKE '%'||#{deptTypeOption}||'%'
				AND (A.EMP_NAME LIKE '%'||#{deptType}||'%'
					OR A.EMP_EN LIKE '%'||#{deptType}||'%' )
			</when>
			<when test="empNoType != null">
				AND A.EMP_NO LIKE '%'||#{empNoType}||'%'
			</when>
			<when test="empNameType != null">
				AND (A.EMP_NAME LIKE '%'||#{empNameType}||'%'
					OR A.EMP_EN LIKE '%'||#{empNameType}||'%' )
			</when>
			<when test="ePhoneType != null">
				AND A.EMP_EPHONE LIKE '%'||#{ePhoneType}||'%'
			</when>
			<when test="emailType != null">
				AND A.EMP_EMAIL LIKE '%'||#{emailType}||'%'
			</when>
		</choose>
		ORDER BY A.EMP_NO DESC
	</select>
	
	<select id="selectCommResourcesListCount"  resultType="_int">
		SELECT COUNT(*)
		FROM COMMON_RESOURCES
		WHERE CR_STATUS = 'Y'
	</select>	
	
	<select id="selectCommResourcesList" resultMap="commonResourcesResultSet">
		SELECT A.*, B.EMP_NAME, C.JOB_NAME,	D.DEPT_UNAME, D.DEPT_DNAME 
		FROM COMMON_RESOURCES A
		JOIN EMPLOYEE B ON B.EMP_NO = A.CR_WRITER_NO
		JOIN JOB_LEVEL C ON C.JOB_CODE = B.JOB_CODE
		JOIN DEPT D ON D.DEPT_CODE = B.DEPT_CODE
		WHERE A.CR_STATUS = 'Y'
		ORDER BY 1 DESC
	</select>
	
	<select id="selectDeptResourcesListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM DEPT_RESOURCES
		WHERE DEPTR_STATUS = 'Y'
		AND DEPT_CODE = #{deptCode}
	</select>	
	
	<select id="selectDeptResourcesList" parameterType="String" resultMap="deptResourcesResultSet">
		SELECT A.*, B.EMP_NAME, C.JOB_NAME,	D.DEPT_UNAME, D.DEPT_DNAME 
		FROM DEPT_RESOURCES A
		JOIN EMPLOYEE B ON B.EMP_NO = A.DEPTR_WRITER_NO
		JOIN JOB_LEVEL C ON C.JOB_CODE = B.JOB_CODE
		JOIN DEPT D ON D.DEPT_CODE = B.DEPT_CODE
		WHERE A.DEPTR_STATUS = 'Y'
		AND A.DEPT_CODE = #{deptCode}
		ORDER BY 1 DESC
	</select>
	
	<select id="selectCommonResources" parameterType="_int" resultMap="commonResourcesResultSet">
		SELECT A.*, B.EMP_NAME, C.JOB_NAME,	D.DEPT_UNAME, D.DEPT_DNAME 
		FROM COMMON_RESOURCES A
		JOIN EMPLOYEE B ON B.EMP_NO = A.CR_WRITER_NO
		JOIN JOB_LEVEL C ON C.JOB_CODE = B.JOB_CODE
		JOIN DEPT D ON D.DEPT_CODE = B.DEPT_CODE
		WHERE A.CR_STATUS = 'Y'
		AND A.CR_NO = #{crNo}
	</select>
	
	<select id="increaseCount" parameterType="_int">
		UPDATE COMMON_RESOURCES
		SET CR_COUNT = CR_COUNT+1
		WHERE CR_NO = #{crNo}
	</select>
	
	<select id="selectCommonResourcesAttachMent" parameterType="_int" resultMap="commonResourcesAttachResultSet">
		SELECT *
		FROM COMMON_RESOURCES_ATTACHMENT
		WHERE CR_NO = #{crNo}
		AND CR_ATTACH_STATUS = 'Y'
	</select>
	
	<select id="selectCommReplyList" parameterType="_int" resultMap="commonResourcesReplyResultSet">
		SELECT A.*, B.EMP_NAME, C.JOB_NAME,	D.DEPT_UNAME, D.DEPT_DNAME 
		FROM COMMON_RESOURCES_REPLY A
		JOIN EMPLOYEE B ON B.EMP_NO = A.CR_REP_WRITER_NO
		JOIN JOB_LEVEL C ON C.JOB_CODE = B.JOB_CODE
		JOIN DEPT D ON D.DEPT_CODE = B.DEPT_CODE
		WHERE A.CR_NO = #{crNo}
		ORDER BY 1
	</select>
	
	<insert id="addCommReply" parameterType="CommonResourcesReply">
		INSERT INTO COMMON_RESOURCES_REPLY
		VALUES(SEQ_CR_REP_NO.NEXTVAL, #{crNo}, DEFAULT, #{crRepWriterNo}, NULL, #{crRepContent}, DEFAULT, DEFAULT )
	</insert>
	
	<update id="deleteCommReply" parameterType="_int">
		UPDATE COMMON_RESOURCES_REPLY
		SET CR_REP_STATUS = 'N'
		WHERE CR_REP_NO = #{crNo}
	</update>
	
	<select id="selectCommonResourcesCategoryTypeListCount" parameterType="CommonResources" resultType="_int">
		SELECT COUNT(*)
		FROM COMMON_RESOURCES
		WHERE CR_STATUS = 'Y'
		AND CR_CATEGORY = #{ crCategory }
	</select>	
	
	<select id="selectCommonResourcesCategoryTypeList" parameterType="CommonResources" resultMap="commonResourcesResultSet">
		SELECT A.*, B.EMP_NAME, C.JOB_NAME,	D.DEPT_UNAME, D.DEPT_DNAME 
		FROM COMMON_RESOURCES A
		JOIN EMPLOYEE B ON B.EMP_NO = A.CR_WRITER_NO
		JOIN JOB_LEVEL C ON C.JOB_CODE = B.JOB_CODE
		JOIN DEPT D ON D.DEPT_CODE = B.DEPT_CODE
		WHERE A.CR_STATUS = 'Y'
		AND A.CR_CATEGORY = #{ crCategory }
		ORDER BY 1 DESC
	</select>
	
	<insert id="insertCommResources" parameterType="CommonResources" >
		INSERT INTO COMMON_RESOURCES
		VALUES(SEQ_CR_NO.NEXTVAL, #{crCode}, #{crWriterNo}, #{crCategory}, #{crTitle}, #{crContent}, DEFAULT, DEFAULT, #{crAttach}, DEFAULT )
	</insert>
	
	<insert id="insertCommResourcesAttach" parameterType="CommonResourcesAttachment" >
		INSERT INTO COMMON_RESOURCES_ATTACHMENT
		VALUES(SEQ_CR_ATTACH_NO.NEXTVAL, SEQ_CR_NO.CURRVAL, #{crAttachOrigin}, #{crAttachChange}, DEFAULT )
	</insert>
	
	<select id="selectDeptResources" parameterType="_int" resultMap="deptResourcesResultSet">
		SELECT A.*, B.EMP_NAME, C.JOB_NAME,	D.DEPT_UNAME, D.DEPT_DNAME 
		FROM DEPT_RESOURCES A
		JOIN EMPLOYEE B ON B.EMP_NO = A.DEPTR_WRITER_NO
		JOIN JOB_LEVEL C ON C.JOB_CODE = B.JOB_CODE
		JOIN DEPT D ON D.DEPT_CODE = B.DEPT_CODE
		WHERE A.DEPTR_STATUS = 'Y'
		AND A.DEPTR_NO = #{deptrNo}
	</select>
	
	<select id="increaseDeptCount" parameterType="_int">
		UPDATE DEPT_RESOURCES
		SET DEPTR_COUNT = DEPTR_COUNT+1
		WHERE DEPTR_NO = #{deptrNo}
	</select>
	
	<select id="selectDeptResourcesAttachMent" parameterType="_int" resultMap="deptResourcesAttachResultSet">
		SELECT *
		FROM DEPT_RESOURCES_ATTACHMENT
		WHERE DEPTR_NO = #{deptrNo}
		AND DEPT_ATTACH_STATUS = 'Y'
	</select>
	
	<select id="selectDeptReplyList" parameterType="_int" resultMap="deptResourcesReplyResultSet">
		SELECT A.*, B.EMP_NAME, C.JOB_NAME,	D.DEPT_UNAME, D.DEPT_DNAME 
		FROM DEPT_RESOURCES_REPLY A
		JOIN EMPLOYEE B ON B.EMP_NO = A.DEPTR_REP_WRITER_NO
		JOIN JOB_LEVEL C ON C.JOB_CODE = B.JOB_CODE
		JOIN DEPT D ON D.DEPT_CODE = B.DEPT_CODE
		WHERE A.DEPTR_NO = #{deptrNo}
		ORDER BY 1
	</select>
	
	<insert id="addDeptCommReply" parameterType="DeptResourcesReply">
		INSERT INTO DEPT_RESOURCES_REPLY
		VALUES(SEQ_DEPTR_REP_NO.NEXTVAL, #{deptrNo}, DEFAULT, #{deptrRepWriterNo}, NULL, #{deptrRepContent}, DEFAULT, DEFAULT )
	</insert>
	
	<update id="deleteDeptReply" parameterType="_int">
		UPDATE DEPT_RESOURCES_REPLY
		SET DEPTR_REP_STATUS = 'N'
		WHERE DEPTR_REP_NO = #{deptrNo}
	</update>
	
	<select id="selectDeptResourcesCategoryTypeListCount" parameterType="DeptResources" resultType="_int">
		SELECT COUNT(*)
		FROM DEPT_RESOURCES
		WHERE DEPTR_STATUS = 'Y'
		AND DEPT_CODE = #{deptCode}
		AND DEPTR_CATEGORY = #{ deptrCategory }
	</select>	
	
	<select id="selectDeptResourcesCategoryTypeList" parameterType="DeptResources" resultMap="deptResourcesResultSet">
		SELECT A.*, B.EMP_NAME, C.JOB_NAME,	D.DEPT_UNAME, D.DEPT_DNAME 
		FROM DEPT_RESOURCES A
		JOIN EMPLOYEE B ON B.EMP_NO = A.DEPTR_WRITER_NO
		JOIN JOB_LEVEL C ON C.JOB_CODE = B.JOB_CODE
		JOIN DEPT D ON D.DEPT_CODE = B.DEPT_CODE
		WHERE A.DEPTR_STATUS = 'Y'
		AND A.DEPT_CODE = #{deptCode}
		AND A.DEPTR_CATEGORY = #{ deptrCategory }
		ORDER BY 1 DESC
	</select>
	
	<insert id="insertDeptResources" parameterType="DeptResources" >
		INSERT INTO DEPT_RESOURCES
		VALUES(SEQ_DEPTR_NO.NEXTVAL, #{deptCode}, #{deptrWriterNo}, #{deptrCategory}, #{deptrTitle}, #{deptrContent}, DEFAULT, DEFAULT, #{deptrAttach}, DEFAULT )
	</insert>
	
	<insert id="insertDeptResourcesAttach" parameterType="DeptResourcesAttachment" >
		INSERT INTO DEPT_RESOURCES_ATTACHMENT
		VALUES(SEQ_DEPTR_ATTACH_NO.NEXTVAL, SEQ_DEPTR_NO.CURRVAL, #{deptrAttachOrigin}, #{deptrAttachChange}, DEFAULT )
	</insert>
	
	<select id="selectDeptResourcesSearchListCount" parameterType="DeptResources" resultType="_int">
		SELECT COUNT(*)
		FROM DEPT_RESOURCES A
		JOIN EMPLOYEE B ON B.EMP_NO = A.DEPTR_WRITER_NO
		JOIN JOB_LEVEL C ON C.JOB_CODE = B.JOB_CODE
		JOIN DEPT D ON D.DEPT_CODE = B.DEPT_CODE
		WHERE A.DEPTR_STATUS = 'Y'
		AND A.DEPT_CODE = #{deptCode}
		<choose>
			<when test="deptrCategory != 'allType'">
				AND DEPTR_CATEGORY = #{deptrCategory}
			</when>
		</choose>
		
		<choose>
			<when test="optionType =='allOptionType'">
				AND (B.EMP_NAME  LIKE '%'||#{search}||'%'
					OR A.DEPTR_TITLE LIKE '%'||#{search}||'%'
					OR A.DEPTR_CONTENT LIKE '%'||#{search}||'%')
			</when>
			<when test="optionType =='writerType'">
				AND B.EMP_NAME  LIKE '%'||#{search}||'%'
			</when>
			<when test="optionType =='titleType'">
				AND  A.DEPTR_TITLE LIKE '%'||#{search}||'%'
			</when>
			<when test="optionType =='contentType'">
				AND A.DEPTR_CONTENT LIKE '%'||#{search}||'%'
			</when>
		</choose>
	</select>
	 
	<select id="selectDeptResourcesSearchList" parameterType="DeptResources" resultMap="deptResourcesResultSet">
		SELECT A.*, B.EMP_NAME, C.JOB_NAME,	D.DEPT_UNAME, D.DEPT_DNAME 
		FROM DEPT_RESOURCES A
		JOIN EMPLOYEE B ON B.EMP_NO = A.DEPTR_WRITER_NO
		JOIN JOB_LEVEL C ON C.JOB_CODE = B.JOB_CODE
		JOIN DEPT D ON D.DEPT_CODE = B.DEPT_CODE
		WHERE A.DEPTR_STATUS = 'Y'
		AND A.DEPT_CODE = #{deptCode}
		<choose>
			<when test="deptrCategory != 'allType'">
				AND A.DEPTR_CATEGORY = #{deptrCategory}
			</when>
		</choose>
		
		<choose>
			<when test="optionType =='allOptionType'">
				AND (B.EMP_NAME  LIKE '%'||#{search}||'%'
					OR A.DEPTR_TITLE LIKE '%'||#{search}||'%'
					OR A.DEPTR_CONTENT LIKE '%'||#{search}||'%')
			</when>
			<when test="optionType =='writerType'">
				AND B.EMP_NAME  LIKE '%'||#{search}||'%'
			</when>
			<when test="optionType =='titleType'">
				AND  A.DEPTR_TITLE LIKE '%'||#{search}||'%'
			</when>
			<when test="optionType =='contentType'">
				AND A.DEPTR_CONTENT LIKE '%'||#{search}||'%'
			</when>
		</choose>
		ORDER BY 1 DESC
	</select>
	
	<select id="selectCommResourcesSearchListCount" parameterType="CommonResources" resultType="_int">
		SELECT COUNT(*)
		FROM COMMON_RESOURCES A
		JOIN EMPLOYEE B ON B.EMP_NO = A.CR_WRITER_NO
		JOIN JOB_LEVEL C ON C.JOB_CODE = B.JOB_CODE
		JOIN DEPT D ON D.DEPT_CODE = B.DEPT_CODE
		WHERE A.CR_STATUS = 'Y'
		<choose>
			<when test="crCategory != 'allType'">
				AND A.CR_CATEGORY = #{ crCategory }
			</when>
		</choose>
		
		<choose>
			<when test="optionType =='allOptionType'">
				AND (B.EMP_NAME  LIKE '%'||#{search}||'%'
					OR A.CR_TITLE LIKE '%'||#{search}||'%'
					OR A.CR_CONTENT LIKE '%'||#{search}||'%')
			</when>
			<when test="optionType =='writerType'">
				AND B.EMP_NAME  LIKE '%'||#{search}||'%'
			</when>
			<when test="optionType =='titleType'">
				AND  A.CR_TITLE LIKE '%'||#{search}||'%'
			</when>
			<when test="optionType =='contentType'">
				AND A.CR_CONTENT LIKE '%'||#{search}||'%'
			</when>
		</choose>
	</select>
	
	<select id="selectCommResourcesSearchList" parameterType="CommonResources" resultMap="commonResourcesResultSet">
		SELECT A.*, B.EMP_NAME, C.JOB_NAME,	D.DEPT_UNAME, D.DEPT_DNAME 
		FROM COMMON_RESOURCES A
		JOIN EMPLOYEE B ON B.EMP_NO = A.CR_WRITER_NO
		JOIN JOB_LEVEL C ON C.JOB_CODE = B.JOB_CODE
		JOIN DEPT D ON D.DEPT_CODE = B.DEPT_CODE
		WHERE A.CR_STATUS = 'Y'
		<choose>
			<when test="crCategory != 'allType'">
				AND A.CR_CATEGORY = #{ crCategory }
			</when>
		</choose>
		
		<choose>
			<when test="optionType =='allOptionType'">
				AND (B.EMP_NAME  LIKE '%'||#{search}||'%'
					OR A.CR_TITLE LIKE '%'||#{search}||'%'
					OR A.CR_CONTENT LIKE '%'||#{search}||'%')
			</when>
			<when test="optionType =='writerType'">
				AND B.EMP_NAME  LIKE '%'||#{search}||'%'
			</when>
			<when test="optionType =='titleType'">
				AND  A.CR_TITLE LIKE '%'||#{search}||'%'
			</when>
			<when test="optionType =='contentType'">
				AND A.CR_CONTENT LIKE '%'||#{search}||'%'
			</when>
		</choose>
		ORDER BY 1
	</select>
	
	<select id="selectDelCommonResourcesAttachment" parameterType="_int" resultMap="commonResourcesAttachResultSet">
		SELECT *
		FROM COMMON_RESOURCES_ATTACHMENT
		WHERE CR_ATTACH_STATUS = 'Y'
		AND CR_ATTACH_NO = #{crAttachNo}
	</select>
	
	<delete id="deleteCommonResourcesAttachment" parameterType="_int">
		DELETE COMMON_RESOURCES_ATTACHMENT
		WHERE CR_ATTACH_NO = #{crAttachNo}
	</delete>
	
	<select id="commAttachList" parameterType="_int" resultMap="commonResourcesAttachResultSet">
		SELECT *
		FROM COMMON_RESOURCES_ATTACHMENT
		WHERE CR_ATTACH_STATUS = 'Y'
		AND CR_NO = #{crNo}
	</select>
	
	<update id="updateCommResources" parameterType="CommonResources">
		UPDATE COMMON_RESOURCES
		SET CR_CODE = #{crCode}, CR_WRITER_NO = #{crWriterNo}, 
			CR_CATEGORY = #{crCategory}, CR_TITLE = #{crTitle},
			CR_CONTENT = #{crContent}, CR_CREATE_DATE = SYSDATE,
			CR_ATTACH = #{crAttach}
		WHERE CR_NO = #{crNo}
	</update>
	
	<insert id="insertUpdateCommResourcesAttach" parameterType="CommonResourcesAttachment">
		INSERT INTO COMMON_RESOURCES_ATTACHMENT
		VALUES(SEQ_CR_ATTACH_NO.NEXTVAL, #{crNo}, #{crAttachOrigin}, #{crAttachChange}, DEFAULT )
	</insert>
	
	<!--  -->
	<select id="selectDelDeptResourcesAttachment" parameterType="_int" resultMap="deptResourcesAttachResultSet">
		SELECT *
		FROM DEPT_RESOURCES_ATTACHMENT
		WHERE DEPT_ATTACH_STATUS = 'Y'
		AND DEPTR_ATTACH_NO = #{deptrAttachNo}
	</select>
	
	<delete id="deleteDeptResourcesAttachment" parameterType="_int">
		DELETE DEPT_RESOURCES_ATTACHMENT
		WHERE DEPTR_ATTACH_NO = #{deptrAttachNo}
	</delete>
	
	<select id="deptrAttachList" parameterType="_int" resultMap="deptResourcesAttachResultSet">
		SELECT *
		FROM DEPT_RESOURCES_ATTACHMENT
		WHERE DEPT_ATTACH_STATUS = 'Y'
		AND DEPTR_NO = #{deptrNo}
	</select>
	
	<update id="updateDeptResources" parameterType="DeptResources">
		UPDATE DEPT_RESOURCES
		SET DEPTR_WRITER_NO = #{deptrWriterNo}, 
			DEPTR_CATEGORY = #{deptrCategory}, DEPTR_TITLE = #{deptrTitle},
			DEPTR_CONTENT = #{deptrContent}, DEPTR_CREATE_DATE = SYSDATE,
			DEPTR_ATTACH = #{deptrAttach}
		WHERE DEPTR_NO = #{deptrNo}
	</update>
	
	<insert id="insertUpdateDeptResourcesAttach" parameterType="DeptResourcesAttachment">
		INSERT INTO DEPT_RESOURCES_ATTACHMENT
		VALUES(SEQ_DEPTR_ATTACH_NO.NEXTVAL, #{deptrNo}, #{deptrAttachOrigin}, #{deptrAttachChange}, DEFAULT )
	</insert>
	
	<select id="attendanceEmployee" parameterType="_int" resultMap="attendanceResultSet">
		SELECT *
		FROM PS_ATTENDANCE
		WHERE PSA_EMP_NO = #{empNo}
		AND PSA_CREATEDATE LIKE SYSDATE
	</select>
</mapper>
