<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="requestMapper">

	<!-- 회의실관리 -->
	<resultMap id="mtrResultSet" type="Mtr">
		<id property="mMNo" column="RS_MM_NO" />
		<result property="empNo" column="RS_MM_EMP_NO" />
		<result property="empName" column="EMP_NAME" />
		<result property="mMName" column="RS_MM_NAME" />
		<result property="mMCapacity" column="RS_MM_CAPACITY" />
		<result property="mMStatus" column="RS_MM_STATUS" />
	</resultMap>
	
	<!-- 회의실예약 -->
	<resultMap id="reservationMtrResultSet" type="Mtr">
		<id property="mRNo" column="RS_MR_NO" />
		<result property="mMNo" column="RS_MM_NO" />
		<result property="empNo" column="RS_MM_EMP_NO" />
		<result property="empName" column="EMP_NAME" />
		<result property="mRDate" column="RS_MR_DATE" />
		<result property="mRTime" column="RS_MR_TIME" />
		<result property="mRUsg" column="RS_MR_USG" />
		<result property="mMName" column="RS_MM_NAME" />
		<result property="mMCapacity" column="RS_MM_CAPACITY" />
		<result property="mRStatus" column="RS_MR_STATUS" />
	</resultMap>
	
	<!-- 차량관리 -->
	<resultMap id="carResultSet" type="Car">
		<id property="cMNo" column="RS_CM_NO" />
		<result property="empNo" column="RS_CM_EMP_NO" />
		<result property="empName" column="EMP_NAME" />
		<result property="cMMfr" column="RS_CM_MFR" />
		<result property="cMName" column="RS_CM_NAME" />
		<result property="cMStatus" column="RS_CM_STATUS" />
	</resultMap>

	<!-- 비품 -->
	<resultMap id="requestEqResultSet" type="RequestEq">
		<id property="requestEqNo" column="ES_ER_NO" />
		<result property="empNo" column="ES_ER_EMP_NO" />
		<result property="empName" column="EMP_NAME" />
		<result property="deptDname" column="DEPT_DNAME" />
		<result property="jobName" column="JOB_NAME" />
		<result property="requestDate" column="ES_ER_DATE" />
		<result property="place" column="ES_ER_PLC" />
		<result property="usage" column="ES_ER_USG" />
		<result property="sDate" column="ES_ER_START" />
		<result property="eDate" column="ES_ER_END" />
		<result property="eqName" column="ES_ER_NAME" />
		<result property="addRequest" column="ES_ER_ADD" />
		<result property="erCondition" column="ES_ER_CONDITION" />
		<result property="erStatus" column="ES_ER_STATUS" />
	</resultMap>
	
	<!-- 사원증 -->
	<resultMap id="requestIdResultSet" type="RequestId">
		<id property="requestIdNo" column="ES_IR_NO" />
		<result property="empNo" column="ES_IR_EMP_NO" />
		<result property="empKName" column="EMP_NAME" />
		<result property="empEName" column="EMP_EN" />
		<result property="deptDname" column="DEPT_DNAME" />
		<result property="jobName" column="JOB_NAME" />
		<result property="requestDate" column="ES_IR_DATE" />
		<result property="iRkind" column="ES_IR_KIND" />
		<result property="orgPic" column="ES_IR_ORG_PIC" />
		<result property="chgPic" column="ES_IR_CHG_PIC" />
		<result property="irCondition" column="ES_IR_CONDITION" />
		<result property="irStatus" column="ES_IR_STATUS" />
	</resultMap>	
	
	<!-- 회의실 등록 -->
	<insert id="addMtr" parameterType="Mtr">
		INSERT INTO
		RS_MEETINGROOM_MANAGEMENT
		VALUES
		(SEQ_RS_MM_NO.NEXTVAL, #{empNo},
		#{mMName}, #{mMCapacity}, DEFAULT)
	</insert>

	<!-- 회의실 목록 -->
	<select id="manageMtr" resultMap="mtrResultSet">
		SELECT A.*, B.EMP_NAME
		FROM
		RS_MEETINGROOM_MANAGEMENT A
		JOIN EMPLOYEE B ON A.RS_MM_EMP_NO =
		B.EMP_NO
		ORDER BY RS_MM_NO DESC
	</select>
	
	<!-- 회의실 삭제 -->
	<delete id="deleteMtr" parameterType="List">
		DELETE FROM RS_MEETINGROOM_MANAGEMENT
		WHERE RS_MM_NO in
			<foreach collection="list" item="deleteMtr" index="i" open="(" separator="," close=")">
				#{deleteMtr}
			</foreach>
	</delete>

	<!-- 차량 등록 -->
	<insert id="addCar" parameterType="Car">
		INSERT INTO RS_CAR_MANAGEMENT
		VALUES
		(#{cMNo}, #{empNo}, #{cMMfr}, #{cMName}, DEFAULT)
	</insert>

	<!-- 차량 목록 -->
	<select id="manageCar" resultMap="carResultSet">
		SELECT A.*, B.EMP_NAME
		FROM
		RS_CAR_MANAGEMENT A
		JOIN EMPLOYEE B ON A.RS_CM_EMP_NO = B.EMP_NO
	</select>

	<!-- 차량 삭제 -->
	<delete id="deleteCar" parameterType="List">
		DELETE FROM RS_CAR_MANAGEMENT
		WHERE RS_CM_NO IN
			<foreach collection="list" item="deleteCar" index="i" open="(" separator="," close=")">
				#{deleteCar}
			</foreach>
	</delete>
	
	<!-- 비품 신청 -->
	<insert id="requestEquipment" parameterType="RequestEq">
		INSERT INTO ES_EQUIPMENT_REQUEST
		VALUES
		(SEQ_ES_ER_NO.NEXTVAL, #{empNo}, SYSDATE, #{place}, #{usage}, #{sDate}, #{eDate}, #{eqName}, #{addRequest}, DEFAULT, DEFAULT)
	</insert>

	<!-- 사원증 신청 -->
	<insert id="requestIdCard" parameterType="RequestId">
		INSERT INTO ES_ID_REQUEST
		VALUES
		(SEQ_ES_IR_NO.NEXTVAL, #{empNo}, SYSDATE, #{iRkind}, #{orgPic}, #{chgPic}, DEFAULT, DEFAULT)
	</insert>	
	
	<!-- 비품 신청 목록 -->
	<select id="selectEqList" resultMap="requestEqResultSet">
		SELECT A.*, B.EMP_NAME, C.DEPT_DNAME, D.JOB_NAME
		FROM ES_EQUIPMENT_REQUEST A
        JOIN EMPLOYEE B ON A.ES_ER_EMP_NO = B.EMP_NO
        JOIN DEPT C ON B.DEPT_CODE = C.DEPT_CODE
        JOIN JOB_LEVEL D ON B.JOB_CODE = D.JOB_CODE
        WHERE ES_ER_STATUS = 'Y'
		ORDER BY ES_ER_DATE DESC
	</select>
	
	<!-- 사원증 신청 목록 -->
	<select id="selectIdList" resultMap="requestIdResultSet">
		SELECT A.*, B.EMP_NAME, C.DEPT_DNAME, D.JOB_NAME
		FROM ES_ID_REQUEST A
        JOIN EMPLOYEE B ON A.ES_IR_EMP_NO = B.EMP_NO
        JOIN DEPT C ON B.DEPT_CODE = C.DEPT_CODE
        JOIN JOB_LEVEL D ON B.JOB_CODE = D.JOB_CODE
        WHERE ES_IR_STATUS = 'Y'
		ORDER BY ES_IR_DATE DESC
	</select>
	
	<!-- 비품 제출-> 승인완료 -->
	<update id="confirmEq" parameterType="List">
		UPDATE ES_EQUIPMENT_REQUEST
			SET ES_ER_CONDITION = '승인완료'
		WHERE ES_ER_NO IN
			<foreach collection="list" item="confirmEq" index="i" open="(" separator="," close=")">
				#{confirmEq}
			</foreach>		
	</update>
	
	<!-- 사원증 제출-> 승인완료 -->
	<update id="confirmId" parameterType="List">
		UPDATE ES_ID_REQUEST
			SET ES_IR_CONDITION = '승인완료'
		WHERE ES_IR_NO IN
			<foreach collection="list" item="confirmId" index="i" open="(" separator="," close=")">
				#{confirmId}
			</foreach>		
	</update>
	
	<!-- 비품 제출-> 승인취소 -->
	<update id="cancelEq" parameterType="List">
		UPDATE ES_EQUIPMENT_REQUEST
			SET ES_ER_CONDITION = '승인취소'
		WHERE ES_ER_NO IN
			<foreach collection="list" item="cancelEq" index="i" open="(" separator="," close=")">
				#{cancelEq}
			</foreach>		
	</update>
	
	<!-- 사원증 제출-> 승인취소 -->
	<update id="cancelId" parameterType="List">
		UPDATE ES_ID_REQUEST
			SET ES_IR_CONDITION = '승인취소'
		WHERE ES_IR_NO IN
			<foreach collection="list" item="cancelId" index="i" open="(" separator="," close=")">
				#{cancelId}
			</foreach>		
	</update>
	
	<!-- 비품 신청 상세조회 -->
	<select id="selectEq" parameterType="_int" resultMap="requestEqResultSet">
		SELECT A.*, B.EMP_NAME, C.DEPT_DNAME, D.JOB_NAME
		FROM ES_EQUIPMENT_REQUEST A
        JOIN EMPLOYEE B ON A.ES_ER_EMP_NO = B.EMP_NO
        JOIN DEPT C ON B.DEPT_CODE = C.DEPT_CODE
        JOIN JOB_LEVEL D ON B.JOB_CODE = D.JOB_CODE
		WHERE ES_ER_NO = #{requestEqNo}
	</select>

	<!-- 사원증 신청 상세조회 -->
	<select id="selectId" parameterType="_int" resultMap="requestIdResultSet">
		SELECT A.*, B.EMP_NAME, B.EMP_EN, C.DEPT_DNAME, D.JOB_NAME
		FROM ES_ID_REQUEST A
        JOIN EMPLOYEE B ON A.ES_IR_EMP_NO = B.EMP_NO
        JOIN DEPT C ON B.DEPT_CODE = C.DEPT_CODE
        JOIN JOB_LEVEL D ON B.JOB_CODE = D.JOB_CODE
		WHERE ES_IR_NO = #{requestIdNo}
	</select>
	
	<!-- 비품 신청 목록에서 삭제 -->
	<update id="deleteListEq" parameterType="List">
		UPDATE ES_EQUIPMENT_REQUEST
			SET ES_ER_STATUS = 'N'
		WHERE ES_ER_NO IN
			<foreach collection="list" item="deleteListEq" index="i" open="(" separator="," close=")">
				#{deleteListEq}
			</foreach>		
	</update>
	
	<!-- 사원증 신청 목록에서 삭제 -->
	<update id="deleteListId" parameterType="List">
		UPDATE ES_ID_REQUEST
			SET ES_IR_STATUS = 'N'
		WHERE ES_IR_NO IN
			<foreach collection="list" item="deleteListId" index="i" open="(" separator="," close=")">
				#{deleteListId}
			</foreach>		
	</update>
	
	<!-- 비품 상세페이지에서 삭제 -->
	<update id="deleteOneEq" parameterType="_int">
		UPDATE ES_EQUIPMENT_REQUEST
			SET ES_ER_STATUS = 'N'
		WHERE ES_ER_NO IN #{requestEqNo}
	</update>
	
	<!-- 비품 상세페이지에서 승인완료 -->
	<update id="confirmOneEq" parameterType="_int">
		UPDATE ES_EQUIPMENT_REQUEST
			SET ES_ER_CONDITION = '승인완료'
		WHERE ES_ER_NO IN #{requestEqNo}
	</update>
	
	<!-- 비품 상세페이지에서 승인취소 -->
	<update id="cancelOneEq" parameterType="_int">
		UPDATE ES_EQUIPMENT_REQUEST
			SET ES_ER_CONDITION = '승인취소'
		WHERE ES_ER_NO IN #{requestEqNo}
	</update>
	
	<!-- 사원증 상세페이지에서 삭제 -->
	<update id="deleteOneId" parameterType="_int">
		UPDATE ES_ID_REQUEST
			SET ES_IR_STATUS = 'N'
		WHERE ES_IR_NO IN #{requestEqNo}
	</update>
	
	<!-- 사원증 상세페이지에서 승인완료 -->
	<update id="confirmOneId" parameterType="_int">
		UPDATE ES_ID_REQUEST
			SET ES_IR_CONDITION = '승인완료'
		WHERE ES_IR_NO IN #{requestEqNo}
	</update>
	
	<!-- 사원증 상세페이지에서 승인취소 -->
	<update id="cancelOneId" parameterType="_int">
		UPDATE ES_ID_REQUEST
			SET ES_IR_CONDITION = '승인취소'
		WHERE ES_IR_NO IN #{requestEqNo}
	</update>	
	
	<!-- 회의실 예약리스트 가져오기 -->
	<select id="timeMtr" parameterType="Mtr" resultMap="reservationMtrResultSet">
	SELECT A.RS_MR_EMP_NO, A.RS_MR_DATE, A.RS_MR_TIME, A.RS_MR_USG,
		B.EMP_NAME, C.RS_MM_NAME
		FROM RS_MEETINGROOM_RESERVATION A
		JOIN EMPLOYEE B ON B.EMP_NO = A.RS_MR_EMP_NO
		JOIN RS_MEETINGROOM_MANAGEMENT C ON C.RS_MM_NO = A.RS_MM_NO
		WHERE A.RS_MM_NO = #{mMNo} 
		AND A.RS_MR_DATE = #{mRDate}
	</select>	
</mapper>