<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="vacationMapper">

	<!-- "Vacation" -->
	<resultMap id="vacationResultSet" type="Vacation">
		<id property="apNo" column="APPROVAL_NO"/>
		<result property="rownum" column="ROWNUM"/>
		<result property="apClass" column="APPROVAL_CLASS"/>
		<result property="detailClass" column="DETAIL_CLASS"/>
		<result property="title" column="TITLE"/>
		<result property="writer" column="WRITER"/>
		<result property="writerJob" column="WRITER_JOB"/>
		<result property="writerName" column="EMP_NAME"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="deptName" column="DEPT_DNAME"/>
		<result property="content" column="AP_CONTENT"/>
		<result property="cooper" column="COOPERATION"/>
		<result property="cooName" column="COO_NAME"/>	
		<result property="cooJob" column="COO_JOB"/>
		<result property="deptShare" column="DEPT_SHARE"/>
		<result property="progress" column="PROGRESS"/>	
		<result property="startDate" column="STARTDATE"/>	
		<result property="startDate" column="PSR_STARTDATE"/>	
		<result property="endDate" column="ENDDATE"/>	
		<result property="endDate" column="PSR_ENDDATE"/>
		<result property="documentType" column="PSR_DOCUMENT"/>		
		<result property="vcType" column="PSR_VCTYPE"/>
		<result property="psrNo" column="PSR_NO"/>
		<result property="halfday" column="PSR_HALFDAY"/>
		<result property="alternative" column="PSR_ALTERNATIVE"/>
	</resultMap>
	
	<!-- Approval Attachment-->
	<resultMap id="vacationAtResultSet" type="Vacation">
		<id property="apNo" column="APPROVAL_NO"/>
		<result property="atNo" column="AT_NO"/>
		<result property="newName" column="NEW__NAME"/>
		<result property="originName" column="ORIGIN_NAME"/>	
	</resultMap>
	
	<!-- VavationLine  -->
	<resultMap id="vacationLineResultSet" type="VacationLine">
		<id property="apNo" column="APPROVAL_NO"/>
		<id property="lineNo" column="LINE_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="confirmStatus" column="CONFIRM_STATUS"/>
		<result property="progressDate" column="PROGRESS_DATE"/>
	</resultMap>
	
	<!-- Approval CC -->
	<resultMap id="vacationCCResultSet" type="VacationCC">
		<id property="apNo" column="APPROVAL_NO"/>
		<result property="ccName" column = "CC_NAME"/>
		<result property="ccDept" column="CC_DEPT"/>
		<result property="ccMember" column="CC_MEMBER"/>
		<result property="ckCount" column="CHECK_COUNT"/>
		<result property="ccCount" column="CC_COUNT"/>
	</resultMap>
	
	<!-- 근태구분C -->
	<resultMap id="approvalAttendanceResultSet" type="ApprovalAttendance">
		<id property="psrNo" column="PSR_NO"/>
		<result property="documentType" column="PSR_DOCUMENT"/>
		<result property="halfDay" column="PSR_STARTDATE"/>
		<result property="startDate" column="PSR_ENDDATE"/>
		<result property="endDate" column="PSR_HALFDAY"/>
		<result property="alternative" column="PSR_ALTERNATIVE"/>
	</resultMap>
	
	<!-- annual  -->
	<resultMap id="loginUserVacationResultSet" type="LoginUserVacation">
		<id property="psdNo" column="PSD_NO"/>
		<result property="annual" column="PSD_ANNUAL"/>
		<result property="useAnnual" column="PSD_USE_ANNUAL"/>
		<result property="leftAnnual" column="PSD_LEFT_ANNUAL"/>
		<result property="empNo" column="PSD_EMP_NO"/>
		<result property="psvNo" column="PSV_NO"/>
		<result property="manstural" column="PSV_MANSTURAL"/>
		<result property="maternity" column="PSV_MATERNITY"/>
		<result property="event" column="PSV_EVENT"/>
		<result property="parental" column="PSV_PARENTAL"/>
		<result property="psvEmpNo" column="PSV_EMP_NO"/>
	</resultMap>
	

	

	
	<!-- 결재라인 insert -->
	<insert id="insertLine" parameterType="VacationLine">
		INSERT INTO APPROVAL_LINE
		VALUES
		(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.CURRVAL, 5, '0'), #{lineNo}, #{empNo}, #{empName}, #{jobName}, DEFAULT, NULL)
	</insert>
	
		<!-- 첨부파일 insert -->
	<insert id="insertAttachment" parameterType="Vacation">
		INSERT INTO APPROVAL_ATTACHMENTS
		VALUES
		(SEQ_EA_AT_NO.NEXTVAL, #{newName}, #{originName}, TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.CURRVAL, 5, '0'))
	</insert>
	
		<!-- CC insert -->
	<insert id="insertCcEmpl" parameterType="ApprovalCC">
	<![CDATA[
		INSERT INTO APPROVAL_CC
		VALUES
		(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.CURRVAL, 5, '0'),#{ccName} ,NULL, #{ccMember}, DEFAULT, (SELECT COUNT(*) FROM EMPLOYEE WHERE EMP_NO = #{ccMember}))
	]]>
	</insert>
	<insert id="insertCcDept" parameterType="ApprovalCC">
	<![CDATA[
		INSERT INTO APPROVAL_CC
		VALUES
		(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.CURRVAL, 5, '0'),#{ccName}, #{ccDept} ,NULL, DEFAULT, (SELECT COUNT(*) FROM EMPLOYEE WHERE DEPT_CODE = #{ccDept}))
	]]>
	</insert>
	
	<!-- 근태결재 insert -->
	<insert id="insertVacation" parameterType="Vacation">
		INSERT INTO APPROVAL
		VALUES
		(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.NEXTVAL, 5, '0'), #{apClass}, #{detailClass}, #{title}, #{writer}, #{writerJob}, SYSDATE, #{deptName}, #{content}, 
		#{cooper},#{cooName}, #{cooJob}, #{deptShare}, #{progress}, #{status})
	</insert>
	
	<!-- 공문서 insert -->
	<insert id="insertAttendance" parameterType="ApprovalAttendance">
		INSERT INTO PS_EA_REQUEST
		VALUES
		(TO_CHAR(SYSDATE, 'YYYY') || LPAD(SEQ_EA_AP_NO.CURRVAL, 5, '0'), #{documentType}, TO_DATE(#{startDate}, 'YY/MM/DD'), TO_DATE(#{endDate}, 'YY/MM/DD'),#{halfDay}, #{vcType}, #{alternative})
	</insert>


	<!-- 사용자 연차 정보 조회  -->
   <select id="selectAnnual" parameterType="_int" resultMap="loginUserVacationResultSet">
      	SELECT * FROM PS_ANNUAL WHERE PSD_EMP_NO= #{empNo}
   </select> 
   
   <!-- 결재문서 진행중 조회 -->
	<select id="selectApproval" parameterType="_int" resultMap="vacationResultSet">
      	SELECT  A.*, B.*, C.EMP_NAME
		FROM APPROVAL A
		JOIN PS_EA_REQUEST B ON A.APPROVAL_NO = B.PSR_NO
		JOIN EMPLOYEE C ON A.WRITER = C.EMP_NO
		WHERE A.APPROVAL_CLASS='근태'
		AND A.PROGRESS='진행중'
		AND  B.PSR_STARTDATE <![CDATA[<]]> SYSDATE
		ORDER BY A.APPROVAL_NO ASC
   </select> 
   
   	<!-- 결재문서 승인 -->
	<update id="progressChange" parameterType="Vacation">
		UPDATE APPROVAL
		SET PROGRESS='결재완료'
		WHERE APPROVAL_NO= #{documentNo}
	</update>

	
	<!-- 해당문서 조회  -->
   <select id="onlyOneSelect" parameterType="string" resultMap="vacationResultSet" >
   		SELECT A.*, B.PSR_DOCUMENT, B.PSR_STARTDATE , B.PSR_VCTYPE , B.PSR_ENDDATE
		FROM APPROVAL A
		JOIN PS_EA_REQUEST B ON A.APPROVAL_NO = B.PSR_NO
		WHERE A.APPROVAL_NO= #{documentNo}
   </select> 
   
   <!-- 연차테이블 변경 -->
   <update id="updateAnnual" parameterType="LoginUserVacation">
	    UPDATE PS_ANNUAL
		SET PSD_USE_ANNUAL = (PSD_USE_ANNUAL+ #{annual}) ,
		    PSD_LEFT_ANNUAL = (PSD_LEFT_ANNUAL-#{annual})
		WHERE PSD_EMP_NO = #{empNo}
   </update>

   <!-- 사용휴가 일수추가  -->
   <update id="addVacation" parameterType="LoginUserVacation">
	    UPDATE PS_VACATION
	    	<if test='vcType eq "보건휴가"'>
	    		SET PSV_MANSTURAL = PSV_MANSTURAL+ #{manstural}
	    	</if>
		
	    	<if test='vcType eq "출산휴가"'>
	    		SET PSV_MATERNITY = PSV_MATERNITY+ #{maternity}
	    	</if>
	    	<if test='vcType eq "육아휴직"'>
	    		SET PSV_PARENTAL = PSV_PARENTAL+ #{parental}
	    	</if>
	    	<if test='vcType eq "경조사"'>
	    		SET PSV_EVENT = PSV_EVENT+ #{event}
	    	</if>
		 
		WHERE PSV_EMP_NO = #{psvEmpNo}
   </update>
   
   
   <!-- 출근등록시 결재서류가 있다면 -->
    <select id="sysdateVacation" parameterType="_int" resultMap="vacationResultSet">
      	SELECT A.*, B.PSR_STARTDATE
		FROM APPROVAL A
		JOIN PS_EA_REQUEST B ON A.APPROVAL_NO = B.PSR_NO
		WHERE A.WRITER = #{empNo}
		AND B.PSR_STARTDATE LIKE SYSDATE
   </select> 
   
   	<!-- 휴가사용일수 조회  -->
   <select id="selectVacation" parameterType="_int" resultMap="loginUserVacationResultSet">
      	SELECT * FROM PS_VACATION WHERE PSV_EMP_NO= #{empNo}
   </select> 
   
    <!-- 휴가사용현황-결재문서 조회 -->
	<select id="selectAPapproval" parameterType="_int" resultMap="vacationResultSet">
	    SELECT A.*, B.*, C.EMP_NAME
		FROM APPROVAL A
		JOIN PS_EA_REQUEST B ON A.APPROVAL_NO = B.PSR_NO
		JOIN EMPLOYEE C ON A.WRITER = C.EMP_NO
		WHERE A.WRITER = #{empNo}
		ORDER BY A.APPROVAL_NO DESC
   </select> 
   
	<!-- 결재할 문서 게시글 갯수 -->
	<select id="selectListCount" resultType="_int">
        SELECT COUNT(*)
		FROM APPROVAL
		WHERE APPROVAL_CLASS='근태'
		AND PROGRESS='진행중'
		AND STATUS='Y'
   </select>
   

   
</mapper>
