<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings><!-- value 에 NULL 은 무조건 대문자로  -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.helloworks.spring.employee.model.vo.Employee" alias="Employee"/>
		<typeAlias type="com.helloworks.spring.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.helloworks.spring.attendance.model.vo.Attendance" alias="Attendance"/>
		<typeAlias type="com.helloworks.spring.common.model.vo.SearchCondition" alias="SearchCondition"/>
		<typeAlias type="com.helloworks.spring.workshare.model.vo.WorkShare" alias="WorkShare"/>
		<typeAlias type="com.helloworks.spring.workshare.model.vo.WSAttachment" alias="WSAttachment"/>
		<typeAlias type="com.helloworks.spring.approval.model.vo.Approval" alias="Approval"/>
		<typeAlias type="com.helloworks.spring.approval.model.vo.ApprovalCC" alias="ApprovalCC"/>
		<typeAlias type="com.helloworks.spring.approval.model.vo.ApprovalDiploma" alias="ApprovalDiploma"/>
		<typeAlias type="com.helloworks.spring.approval.model.vo.ApprovalHr" alias="ApprovalHr"/>
		<typeAlias type="com.helloworks.spring.approval.model.vo.ApprovalLine" alias="ApprovalLine"/>
		<typeAlias type="com.helloworks.spring.approval.model.vo.ApprovalMinutes" alias="ApprovalMinutes"/>
		<typeAlias type="com.helloworks.spring.offieceRoom.model.vo.SearchEmployee" alias="SearchEmployee"/>
		<typeAlias type="com.helloworks.spring.request.model.vo.Mtr" alias="Mtr"/>
		<typeAlias type="com.helloworks.spring.request.model.vo.Car" alias="Car"/>
		<typeAlias type="com.helloworks.spring.addressBook.model.vo.OfficeAddressBook" alias="OfficeAddressBook"/>
		<typeAlias type="com.helloworks.spring.addressBook.model.vo.PersonalAddressBook" alias="PersonalAddressBook"/>
		<typeAlias type="com.helloworks.spring.workshare.model.vo.WSReply" alias="WSReply"/>
		<typeAlias type="com.helloworks.spring.request.model.vo.RequestEq" alias="RequestEq"/>
	</typeAliases>


	<mappers>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/employee-mapper.xml"/>
		<mapper resource="/mappers/workShare-mapper.xml"/>
		<mapper resource="/mappers/officeroom-mapper.xml"/>
		<mapper resource="/mappers/attendance-mapper.xml"/>
		<mapper resource="/mappers/approval-mapper.xml"/>
		<mapper resource="/mappers/request-mapper.xml"/>
		<mapper resource="/mappers/addressBook-mapper.xml"/>
	</mappers>


</configuration>
