<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings><!-- value 에 NULL 은 무조건 대문자로  -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.helloworks.spring.employee.model.vo.Employee" alias="Employee"/>
		<typeAlias type="com.helloworks.spring.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.helloworks.spring.attendance.model.vo.Attendance" alias="Attendance"/>
		<typeAlias type="com.helloworks.spring.common.model.vo.SearchCondition" alias="SearchCondition"/>
	</typeAliases>


	<mappers>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/employee-mapper.xml"/>
		<!-- <mapper resource="/mappers/officeroom-mapper.xml"/> -->
		<mapper resource="/mappers/officeroom-mapper.xml"/>
		<mapper resource="/mappers/attendance-mapper.xml"/>
	</mappers>


</configuration>
